{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <!-- Calendar -->
  <link rel="stylesheet" href="{{asset('css/fullcalendar.css')}}">
  <!-- Main stylesheet -->
  <link rel="stylesheet" href="{{asset('css/style.css')}}">
  <!-- Widgets stylesheet -->
  <link rel="stylesheet" href="{{asset('css/widgets.css')}}">   
  <!-- Gritter Notifications stylesheet -->
  <link rel="stylesheet" href="{{asset('css/jquery.gritter.css')}}">
  <link rel="stylesheet" href="{{asset('css/main.css')}}">  
{% endblock %}

{% block mainbar %}
    <!-- Main bar -->
    <div class="mainbar">
        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-head container">
                                {% if recurso is not null %}
                                <h2>{{recurso.stringRecurso}}</h2>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                        <select id="selectRecurso" class="form-control">
                                            {% for rec in amenidades %}
                                                {% if rec.id == recurso.id %}
                                                <option value="{{rec.id}}" selected>{{rec.nombre}}</option>
                                                {% else %}
                                                <option value="{{rec.id}}">{{rec.nombre}}</option>
                                                {% endif %}    
                                            {% endfor %}    
                                        </select>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        Seleccione la amenidad a Consultar/Reservar.
                                    </div>
                                </div>
                                <p>Haga click sobre el día deseado en el calendario para generar reservaciones.</p>
                                {% else %}
                                <h2>Calendario</h2>    
                                {% endif %}
                            </div>
                            <div class="widget-content">
                                <div class="padd">
                                    <!-- calendario -->
                                    <!-- Below line produces calendar. I am using FullCalendar plugin. -->
                                    <div id="calendar"></div>
                                </div>

                            </div>

                        </div>  

                    </div>

                </div>

            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="modalFormulario" tabindex="-1" role="dialog" aria-labelledby="labelFormulario" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="labelFormulario"></h4>
      </div>
      <div class="modal-body" id="modalBodyFormulario">
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="guardar();">Guardar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}
<script src="{{asset('js/moment.min.js')}}"></script> <!-- Moment -->    
  {{ parent() }}
<script src="{{asset('js/jquery-ui-1.9.2.custom.min.js')}}"></script> <!-- jQuery UI -->
<script src="{{asset('js/jquery-ui-timepicker-addon.js')}}"></script>
<script src="{{asset('js/fullcalendar.min.js')}}"></script> <!-- Full Google Calendar - Calendar -->
<!-- jQuery Notification - Noty -->
<script src="{{asset('js/jquery.noty.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/themes/default.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/layouts/bottom.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/layouts/topRight.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/layouts/top.js')}}"></script> <!-- jQuery Notify -->
<!-- jQuery Notification ends -->

<script src="{{asset('js/jquery.slimscroll.min.js')}}"></script> <!-- jQuery SlimScroll -->
<script src="{{asset('js/bootbox.min.js')}}"></script> <!-- Filter for support page -->
<script src="{{asset('js/custom.js')}}"></script> <!-- Custom codes -->
<script>
    
</script>
<script>
    /* Calendar */
	var lunes = {{(recurso.lunes)?"true":"false"}},
		martes={{(recurso.martes)?"true":"false"}},
		miercoles={{(recurso.miercoles)?"true":"false"}},
		jueves = {{(recurso.jueves)?"true":"false"}},
		viernes={{(recurso.viernes)?"true":"false"}},
		sabado={{(recurso.sabado)?"true":"false"}},
		domingo = {{(recurso.domingo)?"true":"false"}};
  var calEvent;
  $(document).ready(function() {
   
    var fechaActual = new Date();
    var d = fechaActual.getDate();
    var m = fechaActual.getMonth();
    var y = fechaActual.getFullYear();
    
    $('#calendar').fullCalendar({
      header: {
        left: 'prev',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,next'
      },
      editable: false,
      monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
      monthNamesShort: ["Ene","Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
      dayNames: ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"],
      dayNamesShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
      buttonText: {
        prev: "&nbsp;&#9668;&nbsp;",
        next: "&nbsp;&#9658;&nbsp;",
        prevYear: "&nbsp;&lt;&lt;&nbsp;",
        nextYear: "&nbsp;&gt;&gt;&nbsp;",
        today: "hoy",
        month: "mes",
        week: "semana",
        day: "día"
      },
      events: [
	{% for reservacion in entities %}
        {
          {% if reservacion.status == constant('Richpolis\\FrontendBundle\\Entity\\Reservacion::STATUS_SOLICITUD') %}  
          title: '{{(reservacion.desde|date('ga'))~'-'~(reservacion.hasta|date('ga'))}} Apartado',
          color: 'orange',        
          {% elseif reservacion.status == constant('Richpolis\\FrontendBundle\\Entity\\Reservacion::STATUS_APROBADA') %}
          title: '{{(reservacion.desde|date('ga'))~'-'~(reservacion.hasta|date('ga'))}} Reservado',
          color: 'green',        
          {% endif %}
          start: '{{ (reservacion.fechaEvento|date('Y-m-d')) ~ 'T' ~ (reservacion.desde|date('H:i:00')) }}',
          end: '{{ (reservacion.fechaEvento|date('Y-m-d')) ~ 'T' ~ (reservacion.hasta|date('H:i:00')) }}',
          allDay: false,
        },
        {% endfor %}
      ],
      dayClick: function(date, allDay, jsEvent, view) {
        debugger;
        if(date < fechaActual){
            alert("Esta fecha no puede ser seleccionada");
            return false;
        }
        
        y = date.getFullYear();
        m = date.getMonth();
        d = date.getDate();

        h1 = date.getHours();
        m1 = date.getMinutes();
		
		diaSemana = date.getDay();
		
		switch(diaSemana){
			case 0: //domingo
				if(!domingo){
					alert("Este dia no esta disponible para reservar");
					return false;
				}
				break;
			case 1: // lunes
				if(!lunes){
					alert("Este dia no esta disponible para reservar");
					return false;
				}
				break;
			case 2: //martes
				if(!martes){
					alert("Este dia no esta disponible para reservar");
					return false;
				}
				break;
			case 3: //miercoles
				if(!miercoles){
					alert("Este dia no esta disponible para reservar");
					return false;
				}
				break;
			case 4: //jueves
				if(!jueves){
					alert("Este dia no esta disponible para reservar");
					return false;
				}
				break;
			case 5: //viernes
				if(!viernes){
					alert("Este dia no esta disponible para reservar");
					return false;
				}
				break;
			case 6: //sabado
				if(!sabado){
					alert("Este dia no esta disponible para reservar");
					return false;
				}
				break;
			
		}

        h2 = h1 + 1;
        m2 = m1;
        //alert("se dio click en "+ (new Date(y, m, d, h1, m1)));
        calEvent = {
            title: 'New Calendar Event',
            editable: true,
            start: new Date(y, m, d, h1, m1),
            end: new Date(y, m, d, h2, m2),
            allDay: false,
            year: y,
            month: m,
            day: d,
            hora: h1,
            minuto: m1,
            fecha: (y + "-" + (m+1) + "-" + d)
        }
	addReservacion(calEvent);
    }
    });
    
    $("#selectRecurso").on("change",function(e){
       e.preventDefault();
       var valor = $(this).val();
       location.href = '{{path('reservaciones_calendario')}}?recurso='+valor;
    });
    
  });
  function addReservacion(calEvent){
  	  
      mostrarFormulario("Realizar reservacion");
      getFormulario(calEvent.fecha);
  }
  
  function mostrarFormulario(titulo){
      $("#modalFormulario").modal("show");
      $("#labelFormulario").html(titulo);
      $loader = $("<img>");
      $loader.attr({'src': '{{asset('images/bx_loader.gif')}}','id': 'loader'});
      $loader.css({'maxWidth': '80px'});
      $("#modalBodyFormulario").html($loader);
  }
  
  function guardar(){
      var $form = $("#modalBodyFormulario form");
      var data = $form.serialize();
      $.ajax({
          url: $form.attr('action'),
          type: 'POST',
          data: data,
          dataType: 'json',
      }).done(function(data, textStatus,jqXHR){
          debugger;
          data = JSON.parse(data);
          if(data.respuesta == 'nuevo'){
              $("#modalBodyFormulario").html(data.form);
              $("#modalBodyFormulario form").attr({'action': data.rutaAction});
              activarDateTimePicker();
          }else if(data.respuesta == 'creado'){
              $("#modalFormulario").modal("hide");
                if(data.costo>0){
                    alert("Gracias, su reservación ha sido agendada, por favor cubra la cuota de uso en un lapso de 24 horas para ser respetada.");
                }else{
                    alert("Gracias, su reservación ha sido agendada y aprobada.");
                }
              location.href='{{path('reservaciones')}}';
          }else if(data.respuesta == 'error'){
              alert(data.error);
          }
      }).fail(function(data){
          console.log(data);
      });
  }
  
  function getFormulario(dia){
          $.ajax({
              url: '{{path('reservaciones_realizar_reservacion')}}',
              type: 'GET',
              dataType: 'json',
              data: {'fecha':dia},
          }).done(function(data, textStatus,jqXHR){
              data = JSON.parse(data);
              if(data.respuesta == 'nuevo'){
                  $("#modalBodyFormulario").html(data.form);
                  $("#modalBodyFormulario form").attr({'action': data.rutaAction});
				  activarDateTimePicker();
              }
          }).fail(function(data){
		alert("Error");
		console.log(data);
          });
  }
  function activarDateTimePicker(){
            $("#richpolis_frontendbundle_reservacion_fechaEvento").datepicker({
                dateFormat: "yy-mm-dd",
                {% if is_granted('ROLE_SUPER_ADMIN') == false %}    
                minDate: 0,       
                maxDate: "+3M"
                {% endif %}
            });
            
            $('#richpolis_frontendbundle_reservacion_desde').timepicker({
                    timeFormat: 'HH:00',
                    stepHour: 1,
                    minute: 0,
					hourMin: {{recurso.desde|date('G')}},
					hourMax: {{recurso.hasta|date('G')}}
            });
            
            $('#richpolis_frontendbundle_reservacion_hasta').timepicker({
                    timeFormat: 'HH:00',
                    stepHour: 1,
                    minute: 0,
					hourMin: {{recurso.desde|date('G')}},
					hourMax: {{recurso.hasta|date('G')}}
            });
  }
</script>

{% endblock %}

