{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Main stylesheet -->
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    <!-- Widgets stylesheet -->
    <link rel="stylesheet" href="{{asset('css/widgets.css')}}">   
    <!-- Gritter Notifications stylesheet -->
    <link rel="stylesheet" href="{{asset('css/jquery.gritter.css')}}"> 

{% endblock %}

{% block mainbar %}
    <!-- Main bar -->
    <div class="mainbar">

        <!-- Page heading -->
        <div class="page-head">
            <h2 class="pull-left">{{titulo}}</h2>
            <div class="clearfix"></div>
            <!-- Breadcrumb -->
            <div class="bread-crumb">
                <a href="{{path('homepage')}}"><i class="fa fa-home"></i>Dashboard</a> 
                <!--Divider-->
                <span class="divider">/</span>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('residenciales')}}" class="bread-current">{{residencial}}</a>
                {% else %}
                <a href="#" class="bread-current">{{residencial}}</a>    
                {% endif %}    
                {% if edificio is defined %}
                <!--Divider-->
                    {% if is_granted('SUPER_ADMIN') %}
                    <span class="divider">/</span> 
                    <a href="{{path('edificios')}}" class="bread-current">{{edificio}}</a>
                    {% else %}
                    <span class="divider">/</span> 
                    <a href="#" class="bread-current">{{app.user.edificio}}</a>    
                    {% endif %}
                {% endif %}
                <span class="divider">/</span> 
                <a href="{{path(ruta)}}" class="bread-current">{{titulo}}</a>
            </div>

            <div class="clearfix"></div>

        </div>
        <!-- Page heading ends -->

        <!-- Matter -->

        <div class="matter">
            <div class="container" id="contenidoPagina">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="widget">
                                <div class="widget-head">
                                    <div class="pull-left">{{titulo}}</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget-content">
                                    <div class="padd contenido-formulario">    
                                        <ul class="lista-seleccionar">
                                            {% for entity in entities %}
                                                <li class="item-seleccionar">
                                                    <a href="{{path(ruta,{('' ~ campo) : entity.id })}}">
                                                       {{ entity.nombre }}
                                                    </a>
                                                </li>
                                            {% endfor %}     
                                        </ul>
                                    </div>
                                </div>
                                <div class="widget-foot">
                                    <button id="botonRegresar" class="btn btn-default" onclick="javascript:regresar('{{path(return)}}')">Regresar</button>
                                </div>
                            </div>  
                        </div>    
                    </div>
                </div>
            </div>
        </div>

        <!-- Matter ends -->

    </div>

    <!-- Mainbar ends -->        
    <div class="clearfix"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{asset('js/jquery-ui-1.9.2.custom.min.js')}}"></script> <!-- jQuery UI -->
    <!-- jQuery Notification - Noty -->
    <script src="{{asset('js/jquery.noty.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/themes/default.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/layouts/bottom.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/layouts/topRight.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/layouts/top.js')}}"></script> <!-- jQuery Notify -->
    <!-- jQuery Notification ends -->

    <script src="{{asset('js/datatables/js/jquery.dataTables.js')}}"></script>

    <script src="{{asset('js/jquery.slimscroll.min.js')}}"></script> <!-- jQuery SlimScroll -->
    <script src="{{asset('js/bootbox.min.js')}}"></script> <!-- Filter for support page -->
    <script src="{{asset('js/custom.js')}}"></script> <!-- Custom codes -->


    <script>
        var regresar = function (url) {
            location.href = url;
        };

    </script>


{% endblock %}

