{% extends '::base.html.twig' %}

{% block title %}Dashboard {% endblock %}

{% block stylesheets %}
<!-- Stylesheets -->
<link rel="stylesheet" href="{{asset('css/bootstrap.css')}}">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!--link rel="stylesheet" href="{{asset('css/font-awesome.css')}}"-->
<link rel="stylesheet" href="{{asset('css/style.css')}}">
<link rel="stylesheet" href="{{asset('css/bootstrap-responsive.html')}}">
<link rel="stylesheet" href="{{asset('css/jquery-ui-1.9.2.custom.min.css')}}"> 
<link rel="stylesheet" href="{{asset('css/admin.css')}}">
{% endblock %}

  {% set route = app.request.get('_route') %}

  {% set homepage = "" %}
  {% set residenciales = "" %}
  {% set edificios = "" %}
  {% set recursos = "" %}   
  {% set usuarios = "" %}
  {% set administradores = "" %}
  {% set configuraciones = "" %}
  {% set estadodecuentas = "" %}
  {% set actividades = "" %}
  {% set avisos = "" %}
  {% set documentos = "" %}
  {% set reservaciones = "" %}
  {% set pagos = "" %}
  {% set foros = "" %}
  {% set pagina = 'homepage' %}
  
  {% if route == "homepage" %}
    {% set homepage = "class=open" %}
    {% set pagina = route %}
  {% elseif route == "residenciales" %}
    {% set residenciales = "class=open" %}
    {% set pagina = route %}
  {% elseif route == "usuarios" %}
    {% set usuarios = "class=open" %}
    {% set pagina = route %}
  {% elseif route == "administradores" %}
    {% set administradores = "class=open" %}
    {% set pagina = route %}
  {% elseif route == "edificios" %}
    {% set edificios = "class=open" %}
    {% set pagina = route %}
  {% elseif route == "recursos" %}
    {% set recursos = "class=open" %}
    {% set pagina = route %}
  {% elseif route == "configuraciones" %}
    {% set configuraciones = "class=open" %}
    {% set pagina = route %}
  {% elseif route == "estadodecuentas" %}
    {% set estadodecuentas = "class=open" %}
    {% set pagina = route %}
  {% elseif route == "actividades" %}
    {% set actividades = "class=open" %}
    {% set pagina = route %}
  {% elseif route == "avisos" %}
    {% set avisos = "class=open" %}
    {% set pagina = route %}
  {% elseif route == "documentos" %}
    {% set documentos = "class=open" %}
    {% set pagina = route %}
  {% elseif route == "reservaciones" %}
    {% set reservaciones = "class=open" %}
    {% set pagina = route %}
  {% elseif route == "pagos" %}
    {% set pagos = "class=open" %}
    {% set pagina = route %}
  {% elseif route == "foros" %}
    {% set foros = "class=open" %}
    {% set pagina = route %}
  {% endif %}


{% block body %}
<header>
    <div class="navbar navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <!-- Menu button for smallar screens -->
            <div class="navbar-header">
                <button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span>Menu</span>
                </button>
                <a href="#" class="pull-left menubutton hidden-xs">
                    <i class="fa fa-bars"></i>
                </a>
                <!-- Site name for smallar screens -->
                <a href="{{path('homepage')}}" class="navbar-brand">
                    <span class="bold">Dashboard | {{render(controller('FrontendBundle:Default:residencialName'))}}</span>
                </a>
            </div>

            <!-- Navigation starts -->
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">         

                <!-- Links -->
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown pull-right user-data">            
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img src="/apple-touch-icon.png" width="25" height="25"/>
                            {{app.user.username|default('anonimo')}} <b class="caret"></b>
                        </a>
                        <!-- Dropdown menu -->
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{path('logout')}}">
                                    <i class="fa fa-key"></i> Salir
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- Main content starts -->
<div class="content">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-dropdown">
            <a href="#">Navegador</a>
        </div>
        <!-- Search form -->
        {{render(controller('FrontendBundle:Default:edificiosResidencial'))}}
        <!--- Sidebar navigation -->
        <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->
        <ul id="nav">
            <!-- Main menu with font awesome icon -->
            <li>
                <a {{homepage}}  href="{{path('homepage')}}">
                    <i class="fa fa-home"></i> <span>Inicio</span>
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a {{residenciales}}  href="{{path('residenciales')}}">
                    <i class="fa fa-bank"></i> <span>Residenciales</span>
                </a>
            </li>
            <li>
                <a {{edificios}}  href="{{path('edificios')}}">
                    <i class="fa fa-building"></i> <span>Torres</span>
                </a>
            </li>
            <li>
                <a {{recursos}} href="{{path('recursos')}}">
                    <i class="fa fa-cubes"></i> <span>Recursos</span>
                </a>
            </li>
            <li>
                <a {{usuarios}} href="{{path('usuarios')}}">
                    <i class="fa fa-user"></i> <span>Usuarios</span>
                </a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li>
                <a {{administradores}} href="{{path('administradores')}}">
                    <i class="fa fa-user"></i> <span>Administradores</span>
                </a>
            </li>
            <!--li>
                <a {{configuraciones}} href="{{path('configuraciones')}}">
                    <i class="fa fa-gears"></i> <span>Configuraciones</span>
                </a>
            </li-->
            {% endif %}
            <li>
                <a {{estadodecuentas}} href="{{path('estadodecuentas')}}">
                    <i class="fa fa-money"></i> <span>Estado de cuentas</span>
                </a>
            </li>
            <li>
                <a {{pagos}} href="{{path('pagos')}}">
                    <i class="fa fa-newspaper-o"></i> <span>Pagos</span>
                </a>
            </li>
            <li>
                <a {{actividades}} href="{{path('actividades')}}">
                    <i class="fa fa-bullhorn"></i> <span>Actividades</span>
                </a>
            </li>
            <li>
                <a {{avisos}} href="{{path('avisos')}}">
                    <i class="fa fa-envelope-o"></i> <span>Avisos y notificaciones</span>
                </a>
            </li>
            <li>
                <a {{documentos}} href="{{path('documentos')}}">
                    <i class="fa fa-files-o"></i> <span>Documentos</span>
                </a>
            </li>
            <li>
                <a {{reservaciones}} href="{{path('reservaciones')}}">
                    <i class="fa fa-calendar"></i> <span>Reservaciones</span>
                </a>
            </li>
            <li>
                <a {{foros}} href="{{path('foros')}}">
                    <i class="fa fa-comments"></i> <span>Foros</span>
                </a>
            </li>
        </ul>
    </div>
<!-- Sidebar ends -->
	{% block mainbar %} {% endblock %}
</div>
<!-- Content ends -->
<!-- Footer starts -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <!-- Copyright info -->
                <p class="copy">Copyright &copy; 2014 | <a href="{{path('homepage')}}">Mosaicors</a></p>
                <p></p>
            </div>
        </div>
    </div>
</footer> 	
<!-- Footer ends -->
<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span>
<div class="loader"></div>
{% endblock %}

{% block javascripts %}
    <!-- JS -->
    <script src="{{asset('js/jquery.js')}}"></script>
    <script src="{{asset('js/underscore-min.js')}}"></script>
    <script src="{{asset('js/backbone-min.js')}}"></script>
    <script src="{{asset('js/swig.js')}}"></script>
    <script src="{{asset('js/bootstrap.js')}}"></script>
    <script>
        $(document).ready(function(){
            $(".loader").fadeOut();
        });
        function cambiarEdificio(){
            var select = $('.cambiar-edificio');
            var url = select.find('option:selected').data('url');
            var actualUrl = '{{pagina}}';
            location.href = url + "&pagina=" + actualUrl;
        }
    </script>
{% endblock %}