{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <!-- Datatables -->
  <link rel="stylesheet" href="{{asset('js/datatables/css/dataTables.bootstrap.css')}}">
  <!-- Main stylesheet -->
  <link rel="stylesheet" href="{{asset('css/style.css')}}">
  <!-- Widgets stylesheet -->
  <link rel="stylesheet" href="{{asset('css/widgets.css')}}">   
  <!-- Gritter Notifications stylesheet -->
  <link rel="stylesheet" href="{{asset('css/jquery.gritter.css')}}"> 
  <link rel="stylesheet" href="{{asset('css/main.css')}}"> 
{% endblock %}

{% block mainbar %}
    <!-- Main bar -->
    <div class="mainbar">
        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-head">
                                <h2>Tickets</h2>
                            </div>
                            <div class="widget-content">
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 450px;">
                                    <div class="padd sscroll" style="overflow: hidden; width: auto; height: 450px;">
                                    <ul class="chats">
                                        {% for comentario in comentarios %}
                                            {% if comentario.usuario.id == app.user.id %}
                                                {% set tipoUser = 'by-me' %}
                                                {% set tipoPull = 'pull-left' %}
                                            {% else %}
                                                {% set tipoUser = 'by-other' %}
                                                {% set tipoPull = 'pull-right' %}
                                            {% endif %}    
                                            <!-- Chat by us. Use the class "by-me". -->
                                            <li class="{{tipoUser}}">
                                                <!-- Use the class "{{tipoPull}}" in avatar -->
                                                <div class="avatar {{tipoPull}}">
                                                    <img src="/images/logo.png" style="height: 40px;" alt="">
                                                </div>
                                                <div class="chat-content">
                                                    <!-- In meta area, first include "name" and then "time" -->
                                                    <div class="chat-meta"> {{comentario.usuario.nombre}} <span class="pull-right">{{comentario.fechaTwitter}}</span></div>
                                                    {{comentario.comentario | raw }}
                                                    <div class="clearfix"></div>
                                                </div>
                                            </li> 
                                        {% endfor %}
                                    </ul>
                                    </div>
                                    <div class="slimScrollBar" style="width: 7px; position: absolute; top: 17px; opacity: 0.3; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 105.218855218855px; background: rgb(0, 0, 0);"></div>
                                    <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                                </div>
                            </div>
                            <div class="widget-foot">
                                {% if ticket.isCerrado == false %}
                                    <form action="{{ path('tickets_ticket',{'id': ticket.id}) }}" class="validate form-inline" id="formComentarios" method="post" {{ form_enctype(form)}}  role="form">
                                        {{form_errors(form)}}
                                        <div class="form-group col-lg-10">
                                            {{form_widget(form.comentario)}}
                                        </div>
                                        {{form_rest(form)}}
                                        <input class="btn btn-success" type="submit" value="Enviar"/>
                                    </form>
                                {% else %}
                                    <br/>
                                {% endif %}
                            </div>        
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{asset('js/jquery-ui-1.9.2.custom.min.js')}}"></script> <!-- jQuery UI -->
  <!-- jQuery Notification - Noty -->
  <script src="{{asset('js/jquery.noty.js')}}"></script> <!-- jQuery Notify -->
  <script src="{{asset('js/themes/default.js')}}"></script> <!-- jQuery Notify -->
  <script src="{{asset('js/layouts/bottom.js')}}"></script> <!-- jQuery Notify -->
  <script src="{{asset('js/layouts/topRight.js')}}"></script> <!-- jQuery Notify -->
  <script src="{{asset('js/layouts/top.js')}}"></script> <!-- jQuery Notify -->
  <!-- jQuery Notification ends -->

  <script src="{{asset('js/jquery.slimscroll.min.js')}}"></script> <!-- jQuery SlimScroll -->
  <script src="{{asset('js/bootbox.min.js')}}"></script> <!-- Filter for support page -->
  <script src="{{asset('js/custom.js')}}"></script> <!-- Custom codes -->
  <script type="text/javascript">
    var $boton;
    $(document).ready(function(){
        $(".boton-para-responder ").on("click",function(){
            $boton = $(this);
            var $controles = $boton.parent();
            var idComentario = $boton.data('comentario');
            var $formulario = $("<form>");
            var $divComentarioFormulario = $("<div>");
            var $formComentarios = $("#formComentarios");
            $formulario.attr('action',$formComentarios.attr('action'));
            $formulario.attr('method','post');
            $formulario.html($formComentarios.html());
            $divComentarioFormulario.attr('id','formulario-comentario-'+idComentario);
            $divComentarioFormulario.addClass('formulario-comentario');
            $divComentarioFormulario.append($formulario);
            $controles.after($divComentarioFormulario);
            $formulario.find(".closeForm").fadeIn();
            $formulario.find("#richpolis_frontendbundle_comentario_parent").val(idComentario);
            $boton.fadeOut();
        });
    });
    function closeForm(){
       $(".formulario-comentario").remove();
       $boton.fadeIn();
    }
</script>
{% endblock %}

