{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <!-- Datatables -->
  <link rel="stylesheet" href="{{asset('js/datatables/css/dataTables.bootstrap.css')}}">
  <!-- Main stylesheet -->
  <link rel="stylesheet" href="{{asset('css/style.css')}}">
  <!-- Widgets stylesheet -->
  <link rel="stylesheet" href="{{asset('css/widgets.css')}}">   
  <!-- Gritter Notifications stylesheet -->
  <link rel="stylesheet" href="{{asset('css/jquery.gritter.css')}}"> 
  <link rel="stylesheet" href="{{asset('css/main.css')}}"> 
{% endblock %}

{% block mainbar %}
    <!-- Main bar -->
    <div class="mainbar">
        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-head">
                                <h2>Contactar al administrador</h2>
                            </div>
                            <div class="widget-content">
                                <div style="overflow: scroll; padding: 10px; width: auto; height: 350px;">
                                    <ul class="chats">
                                        {% for comentario in comentarios %}
                                            {% include 'FrontendBundle:Comentario:item.html.twig' with {'comentario': comentario} %} 
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="widget-foot">
                                {% if ticket.isCerrado == false %}
                                    <form action="{{ path('tickets_ticket',{'id': ticket.id}) }}" class="validate form-inline" id="formComentarios" method="post" {{ form_enctype(form)}}  role="form">
                                        {{form_errors(form)}}
                                        <div class="form-group col-lg-10">
                                            {{form_widget(form.comentario)}}
                                        </div>
                                        {{form_rest(form)}}
                                        <input class="btn btn-success" id="enviarComentario" type="submit" value="Enviar"/>
                                    </form>
                                {% else %}
                                    <br/>
                                {% endif %}
                            </div>        
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{asset('js/jquery-ui-1.9.2.custom.min.js')}}"></script> <!-- jQuery UI -->
  <!-- jQuery Notification - Noty -->
  <script src="{{asset('js/jquery.noty.js')}}"></script> <!-- jQuery Notify -->
  <script src="{{asset('js/themes/default.js')}}"></script> <!-- jQuery Notify -->
  <script src="{{asset('js/layouts/bottom.js')}}"></script> <!-- jQuery Notify -->
  <script src="{{asset('js/layouts/topRight.js')}}"></script> <!-- jQuery Notify -->
  <script src="{{asset('js/layouts/top.js')}}"></script> <!-- jQuery Notify -->
  <!-- jQuery Notification ends -->

  <script src="{{asset('js/jquery.slimscroll.min.js')}}"></script> <!-- jQuery SlimScroll -->
  <script src="{{asset('js/bootbox.min.js')}}"></script> <!-- Filter for support page -->
  <script src="{{asset('js/custom.js')}}"></script> <!-- Custom codes -->
  <script type="text/javascript">
    $(document).ready(function(){
        $("input#enviarComentario").on("click",function(){
            var $formComentarios = $("#formComentarios");
            var data = $formComentarios.serialize();
            $.ajax({
                url: $formComentarios.attr('action'),
                type: 'POST',
                data: data,
                dataType: 'json',
            }).done(function(data, textStatus,jqXHR){
                debugger;
                data = JSON.parse(data);
                if(data.respuesta=='creado'){
                    $("ul.chats").append(data.html);
                }
            }).fail(function(data){
                console.log(data);
            });
        });
    });
    </script>
{% endblock %}

