{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Main stylesheet -->
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    <!-- Widgets stylesheet -->
    <link rel="stylesheet" href="{{asset('css/widgets.css')}}">   
    <!-- Gritter Notifications stylesheet -->
    <link rel="stylesheet" href="{{asset('css/jquery.gritter.css')}}"> 

{% endblock %}

{% block mainbar %}
    <!-- Main bar -->
    <div class="mainbar">

        <!-- Page heading -->
        <div class="page-head">
            <h2 class="pull-left">Foros</h2>
            <div class="clearfix"></div>
            <!-- Breadcrumb -->
            <div class="bread-crumb">
                <a href="{{path('homepage')}}"><i class="fa fa-home"></i>Dashboard</a> 
                <!--Divider-->
                <span class="divider">/</span>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('residenciales')}}" class="bread-current">{{entity.usuario.edificio.residencial}}</a>
                {% else %}
                <a href="#" class="bread-current">{{entity.usuario.edificio.residencial}}</a>    
                {% endif %}
                <!--Divider-->
                <span class="divider">/</span> 
                <a href="{{path('edificios')}}" class="bread-current">{{entity.usuario.edificio}}</a>
                <!--Divider-->
                <span class="divider">/</span> 
                <a href="{{path('foros')}}" class="bread-current">Foros</a>
                <!--Divider-->
                <span class="divider">/</span> 
                <a href="{{path('foros_show',{'id':entity.id})}}" class="bread-current">Pago id: {{entity.id}} </a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{path('foros_select_usuario')}}" class="btn btn-info pull-right" style="color: white; margin-left: 5px;">Crear foro</a>
                {% endif %}
            </div>

            <div class="clearfix"></div>

        </div>
        <!-- Page heading ends -->

        <!-- Matter -->

        <div class="matter">
            <div class="container" id="contenidoPagina">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="widget">
                                <div class="widget-head">
                                    <div class="pull-left">Pago id: {{ entity.id }}</div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="widget-content">
                                    <div class="padd contenido-formulario">    <table class="record_properties">
                                            <tbody>
                                                <tr>
                                                    <th>Id</th>
                                                    <td>{{ entity.id }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Residencial</th>
                                                    <td>{{ entity.usuario.edificio.residencial }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Edificio</th>
                                                    <td>{{ entity.usuario.edificio }}</td>
                                                </tr>
                                                <tr>                                                              <tr>
                                                    <th>Usuario</th>
                                                    <td>{{ entity.usuario}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Fecha</th>
                                                    <td>{{ entity.createdAt|date('d-m-Y')}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Titulo</th>
                                                    <td>{{ entity.titulo }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Post</th>
                                                    <td>{{ entity.contenido | raw }}</td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                                
                                        <table id="datatable" class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Cargo</th>
                                                    <th>Monto</th>
                                                    <th>Fecha</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for cargo in entity.cargos %}
                                                <tr>
                                                    <td>{{ cargo.cargo }}</td>
                                                    <td>$ {{ cargo.monto | number_format(2,".",",") }}</td>
                                                    <td>{{ cargo.createdAt|date('d-m-Y') }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>        
                                    </div>
                                </div>
                                <div class="widget-foot">
                                    <button id="botonRegresar" class="btn btn-default" onclick="javascript:regresar('{{path('foros')}}')">Regresar</button>
                                    <button id="botonEditar" class="btn btn-info" onclick="javascript:editarRegistro('{{path('foros_edit',{id: entity.id})}}')">Editar</button>
                                    {% if entity.isAproved == false %}
                                        <button id="botonEditar" class="btn btn-success" onclick="javascript:editarRegistro('{{path('foros_aprobar',{id: entity.id})}}')">Aprobar foro</button>
                                    {% endif %}    
                                    <div style="float: left; margin-right: 3px;">
                                        <form id="formEliminar" action="{{ path('foros_delete', { 'id': entity.id }) }}" method="post">
                                            {{ form_widget(delete_form) }}
                                        </form>
                                        <button class="btn btn-danger " onclick="eliminarRegistro();">Eliminar</button>
                                    </div>        
                                </div>
                            </div>  
                        </div>    
                    </div>
                </div>
            </div>
        </div>

        <!-- Matter ends -->

    </div>

    <!-- Mainbar ends -->        
    <div class="clearfix"></div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

<script src="{{asset('js/jquery-ui-1.9.2.custom.min.js')}}"></script> <!-- jQuery UI -->
<!-- jQuery Notification - Noty -->
<script src="{{asset('js/jquery.noty.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/themes/default.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/layouts/bottom.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/layouts/topRight.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/layouts/top.js')}}"></script> <!-- jQuery Notify -->
<!-- jQuery Notification ends -->

<script src="{{asset('js/datatables/js/jquery.dataTables.js')}}"></script>

<script src="{{asset('js/jquery.slimscroll.min.js')}}"></script> <!-- jQuery SlimScroll -->
<script src="{{asset('js/bootbox.min.js')}}"></script> <!-- Filter for support page -->
<script src="{{asset('js/custom.js')}}"></script> <!-- Custom codes -->


<script>
var regresar = function(url){
    location.href=url;
};

var editarRegistro = function(url){
    location.href=url;
};
    
var eliminarRegistro = function(){
  {% if is_granted('ROLE_ADMIN') %}
    bootbox.confirm("Esta seguro de eliminar el registro?", function(result) {
      if(result){
         $("#formEliminar").submit();
      }
    });
  {% else %}
    noty({text: 'No tienes los permisos suficientes para realizar esta accion',layout:'bottom', type:'warning', timeout:2000 });
  {% endif %}      
};

</script>

    
{% endblock %}

