{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Datatables -->
    <link rel="stylesheet" href="{{asset('js/datatables/css/dataTables.bootstrap.css')}}">
    <!-- Main stylesheet -->
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    <!-- Widgets stylesheet -->
    <link rel="stylesheet" href="{{asset('css/widgets.css')}}">   
    <!-- Gritter Notifications stylesheet -->
    <link rel="stylesheet" href="{{asset('css/jquery.gritter.css')}}">
    
    <link rel="stylesheet" href="{{asset('css/main.css')}}">
    
{% endblock %}

{% block mainbar %}
    <!-- Main bar -->
    <div class="mainbar">
        <div class="matter">
            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <div class="widget">
                            <div class="widget-head">
                                <h2>Documentos</h2>
                            </div>
                            <div class="widget-content">
                                <div class="padd">
                                    <ul class="lista lista-documentos">
                                        {% for registro in entities %}
                                            <li class="item item-documento">
                                                <div class="item-documento-archivo">
                                                    <img class="icono-archivo" src="{{asset('images/' ~ registro.icoArchivo )}}"/>
                                                    <a href="{{registro.webPath}}" target="_blank">Descargar</a>
                                                </div>
                                                <div class="item-documento-contenido">
                                                    <div class="item-titulo item-actividad-titulo"> {{ registro.titulo }}</div>
                                                    <div class="item-descripcion item-actividad-descripcion"> {{ registro.descripcion|raw }}</div>
                                                </div>    
                                            </li>
                                        {% endfor%}    
                                    </ul>    

                                </div>
                            </div>
                        </div>  

                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{asset('js/jquery-ui-1.9.2.custom.min.js')}}"></script> <!-- jQuery UI -->
    <!-- jQuery Notification - Noty -->
    <script src="{{asset('js/jquery.noty.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/themes/default.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/layouts/bottom.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/layouts/topRight.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/layouts/top.js')}}"></script> <!-- jQuery Notify -->
    <!-- jQuery Notification ends -->

    <script src="{{asset('js/datatables/js/jquery.dataTables.js')}}"></script>
    <script src="{{asset('js/jquery.slimscroll.min.js')}}"></script> <!-- jQuery SlimScroll -->

    <script src="{{asset('js/bootbox.min.js')}}"></script> <!-- Filter for support page -->
    <script src="{{asset('js/custom.js')}}"></script> <!-- Custom codes -->

    <script>
        var editarRegistro = function (url) {
            location.href = url;
        };

        var eliminarRegistro = function () {
        {% if is_granted('ROLE_ADMIN') %}
                bootbox.confirm("Esta seguro de eliminar el registro?", function (result) {
                    if (result) {
                        $("#formEliminar").submit();
                    }
                });
        {% else %}
                noty({text: 'No tienes los permisos suficientes para realizar esta accion', layout: 'bottom', type: 'warning', timeout: 2000});
        {% endif %}      
            };

    </script>


{% endblock %}

