{% set aside_arriba = constant('Richpolis\\PublicidadBundle\\Entity\\Publicidad::TIPO_PUBLICIDAD_ASIDE_ARRIBA') %}
{% set aside_abajo = constant('Richpolis\\PublicidadBundle\\Entity\\Publicidad::TIPO_PUBLICIDAD_ASIDE_ABAJO') %}
<aside class="padding-trb columna-1">
    <div class="publicidad aside-arriba sin-padding">
        <ul class="galeria-publicidad">
        {% for publicidad in publicidadArray[aside_arriba] if publicidad.isActive == true %}
            {% if publicidad.isImagen %}
            <li>
                <a href="{{publicidad.link}}" target="_blank">
                {{ publicidad.archivoView | raw }}
                </a>
            </li>
            {% else %}    
            <li>{{ publicidad.archivoView | raw }}</li>
            {% endif %}
        {% else %}
            <li><img src="http://placehold.it/300x250/ffffff/ffffff" alt=""/></li>
        {% endfor %}
        </ul>    
    </div>
    <article id="lomasvisto-comentado">
        <header>
            <p class="titulo-tabs">
                lo más  <span data-tab="lomas-comentado" class="tab tab-comentado">comentado</span><span data-tab="lomas-visto" class="tab tab-visto active">visto</span>
            </p>
        </header>
        <div class="contenido lomas lomas-visto">
            <!--select name="cbLoMasVisto" id="cbLoMasVisto" class="control-lomas">
                <option value="categoria1">lo mas visto</option>
                {% for categoria in categorias %}
                    <option value="{{categoria.id}}">{{categoria.categoria}}</option>
                {% endfor %}    
            </select-->
            <ul>
                {% for item in lomasvistos %}
                <li class="item-lomas-visto">
                        <div class="numero">{{loop.index}}</div>
                        <a href="{{path('frontend_publicaciones',{'slug':item.slug})}}">
                            <div class="contenido">{{item.titulo}}</div>
                            <figure class="thumbnail-mini">
                                {% if item.imagen | length > 0 %}
                                    <img src="{{item.webPath | imagine_filter('imagen_90_60') }}" alt="{{item.titulo}}"/>
                                {% elseif item.galerias | length > 0 %}
                                    <img src="{{item.galerias[0].webPath | imagine_filter('imagen_90_60') }}" alt="{{item.galerias[0].titulo}}"/>
                                {% else %}
                                    <img src="http://placehold.it/90x60/ffffff/ffffff" alt=""/>
                                {% endif %}
                            </figure>
                        </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="contenido lomas lomas-comentado">
            <!--select name="cbLoMasComentado" id="cbLoMasComentado"  class="control-lomas">
                <option value="categoria1">Lo mas comentado</option>
                {% for categoria in categorias %}
                    <option value="{{categoria.id}}">{{categoria.categoria}}</option>
                {% endfor %}
            </select-->
            <ul>
                {% for item in lomascomentados %}
                <li class="item-lomas-comentado">
                    <div class="numero">{{loop.index}}</div>
                        <a href="{{path('frontend_publicaciones',{'slug':item.slug})}}">
                            <div class="contenido">{{item.titulo}}</div>
                            <figure class="thumbnail-mini">
                                {% if item.imagen | length > 0 %}
                                    <img src="{{item.webPath | imagine_filter('imagen_90_60') }}" alt="{{item.titulo}}"/>
                                {% elseif item.galerias | length > 0 %}
                                    <img src="{{item.galerias[0].webPath | imagine_filter('imagen_90_60') }}" alt="{{item.galerias[0].titulo}}"/>
                                {% else %}
                                    <img src="http://placehold.it/90x60/ffffff/ffffff" alt=""/>
                                {% endif %}
                            </figure>
                        </a>    
                </li>
                {% endfor%}
            </ul>
        </div>
    </article>
    <article id="ediciones-pdf">
             <header class="ediciones-pdf ico_edicioespdf">
                 <a href="{{path('frontend_edicion_pdf')}}" style="color: white;">
                    <h3 class="titulo">ediciones pdf</h3>
                 </a>
             </header>
             <!--div class="contenedor-galeria">
                 <span class="control izquierdo ico_edicionespdf_flecha_izquierda"></span>
                 <span class="control derecho ico_edicionespdf_flecha_derecha"></span>
                 <ul class="galeria-pdf">
                     {% for pdf in range(1,3) %}
                       <li class="item edicion-pdf">
                         <figure class="imagen-archivo">
                             <img src="http://placehold.it/60x110" alt="">
                         </figure>
                         <div class="contenido">
                             <h4 class="titulo"> edicion {{pdf}} </h4>
                             <span class="fecha-archivo">{{date("+"~pdf~"days")|date("F jS \\a\\t g:ia") }}</span>
                         </div>
                     </li>
                    {% endfor %}
                 </ul>
             </div-->
    </article>
    <article id="minuto-a-minuto">
        <header>
            <h2 class="titulo">minuto a minuto</h2>
        </header>
        <div class="contenido contenedor-lista">
            <ul class="lista">
                {% for item in ultimasPublicaciones %}
                <li class="item minuto">
                    <span class="tiempo">{{ item.createdAt|date("G:i") }}</span>
                    <a href="{{path('frontend_publicaciones',{'slug':item.slug})}}">
                        <div class="contenido">{{ item.titulo }}</div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </article>
   <div class="tuespacio mini">
        <div class="contenedor-tuespacio">
            <a href="{{path('frontend_tu_espacio',{'slug':'ultimo'})}}">
            <span class="titulo">TU ESPACIO</span>
            <span class="icono">
                <img src="{{asset('images/communities2.png')}}" />
            </span>
            </a>
        </div>
    </div>        
    <div class="publicidad aside-abajo sin-padding">
        <ul class="galeria-publicidad">
        {% for publicidad in publicidadArray[aside_abajo] if publicidad.isActive == true %}
            {% if publicidad.isImagen %}
            <li>
                <a href="{{publicidad.link}}" target="_blank">
                {{ publicidad.archivoView | raw }}
                </a>
            </li>
            {% else %}    
            <li>{{ publicidad.archivoView | raw }}</li>
            {% endif %}
        {% else %}
            <li><img src="http://placehold.it/300x250/ffffff/ffffff" alt=""/></li>
        {% endfor %}
        </ul>    
    </div>
</aside>
