{% extends 'FrontendBundle::layout.html.twig' %}

{% block contenido %}
  
  <section class="padding columna-2">
        <article class="estatica" data-class="list-noticias categoria">
            <header>
                <h2 class="titulo">
                    <span class="azul">{{ categoria }}</span>
                </h2>
            </header>
            <section class="noticias padding-left">
                {% if categoria.nivel > 0 %}
                    <span class="nivel"> {{categoria.parent}}/{{categoria}}</span>
                {% else %}
                    <span class="nivel"> {{categoria}} </span>
                {% endif %}

                {% for noticia in pagination %}
                    {% include 'FrontendBundle:Default:item_largo.html.twig' with {'noticia': noticia} %}
                {% endfor %}
            </section>
        </article>
        {{ knp_pagination_render(pagination) }}
    </section>	
   
    {{render(controller('FrontendBundle:Default:aside'))}}
    <!--p class="padding">
        <button class="ver-archivos">Archivos</button>    
    </p-->
{% endblock %}