{% if is_granted('ROLE_ADMIN') %}
<form class="navbar-form" role="search" action="#search" method="post">
    <div class="form-group">
        <select name="seleccionar" onchange="cambiarEdificio()" class="form-control cambiar-edificio" style="color: #000000;">
            {% for sel in edificios %}
                {% if sel.id == edificioActual.id %}
                <option value="{{edificioActual.id}}" selected>{{edificioActual}}</option>
                {% else %}
                <option value="{{sel.id}}" data-url="{{path('cambiar_edificio')}}?edificio={{sel.id}}">{{sel}}</option>
                {% endif %}    
            {% else %}
                <option value="0" selected>Crear edificios</option>
            {% endfor %}    
        </select>
    </div>
</form>
{% else %}
 <form class="navbar-form" role="search" action="#search" method="post">
    <div class="form-group"  style="color: #000000;">
        <div style="color: white; font-size: 20px; text-transform: uppercase;">{{edificioActual}}</div>
        <div style="color: white;">Bienvenido {{app.user.nombre}}</div>
    </div>
</form>   
{% endif %}    