{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Calendar -->
    <link rel="stylesheet" href="{{asset('css/fullcalendar.css')}}">
    <!-- prettyPhoto -->
    <link rel="stylesheet" href="{{asset('css/prettyPhoto.css')}}">  
    <!-- Star rating -->
    <link rel="stylesheet" href="{{asset('css/rateit.css')}}">
    <!-- Date picker -->
    <link rel="stylesheet" href="{{asset('css/bootstrap-datetimepicker.min.css')}}">
    <!-- CLEditor -->
    <link rel="stylesheet" href="{{asset('css/jquery.cleditor.css')}}"> 
    <!-- Uniform -->
    <link rel="stylesheet" href="{{asset('css/uniform.default.html')}}"> 
    <!-- Uniform -->
    <link rel="stylesheet" href="{{asset('css/daterangepicker-bs3.css')}}" />
    <!-- Bootstrap toggle -->
    <link rel="stylesheet" href="{{asset('css/bootstrap-switch.css')}}">
    <!-- Bootstrap toggle -->
    <link rel="stylesheet" href="{{asset('js/datatables/css/dataTables.bootstrap.css')}}">
    <!-- Main stylesheet -->
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    <!-- Widgets stylesheet -->
    <link rel="stylesheet" href="{{asset('css/widgets.css')}}">   
    <!-- Gritter Notifications stylesheet -->
    <link rel="stylesheet" href="{{asset('css/jquery.gritter.css')}}"> 
    <!-- Admin stylesheet -->
    <link rel="stylesheet" href="{{asset('css/admin.css')}}">
    <!-- Admin stylesheet -->
    <link rel="stylesheet" href="{{asset('css/main.css')}}">
{% endblock %}

{% block mainbar %}
    <!-- Main bar -->
    <div class="mainbar">
        <!-- Matter -->
        <div class="matter">
            <div class="container">
                <!-- Todas las publicaciones tipo Publicacion o Noticia -->
                <div class="row">

                    <!-- Chats widget -->
                    <div class="col-md-6">
                        <!-- Widget -->
                        <div class="widget">
                            <div style="background-color: grey; color: white; text-align: center;font-size: 20px; padding: 10px;">    
                                Foros recientes    
                            </div>
                            <div class="widget-content">
                                <!-- Widget content -->
                                <div class="padd">
                                    {{render(controller('FrontendBundle:Default:forosIndex'))}}
                                </div>
                            </div>  
                        </div> 
                    </div>

                    <!-- Recent posts widget -->
                    <div class="col-md-6">
                        <!-- Widget -->
                        <div class="widget">
                            <div style="background-color: #DC322F; color: white; text-align: center;font-size: 20px; padding: 10px;">    
                                Estado de cuenta    
                            </div>
                            <div class="widget-content">
                                <!-- Widget content -->
                                <div class="padd">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="6">Cargos pendientes de pago</th>
                                            </tr>
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Cargo</th>
                                                <th>Monto</th>
                                                <th>Pagado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% set monto = 0 %}    
                                            {% for entity in cargos if entity.isPaid == false %}
                                                <tr>
                                                    <td>{{ entity.createdAt|date('d-m-Y') }}</td>
                                                    <td>
                                                        <div class="tipo-cargo">{{ entity.stringTipoCargo }}</div><br/>
                                                        <div class="descripcion-cargo">{{ entity.cargo }}</div><br/>
                                                    </td>
                                                    <td>$ {{ entity.monto | number_format(2,".",",") }}</td>
                                                    <td>{{ entity.isPaid|isActive |raw }}</td>
                                                </tr>

                                                {% set monto = monto + entity.monto %}
                                            {% endfor %}
                                        <tfoot>
                                            <tr>
                                                {% if monto > 0 %}
                                                    <th colspan="6">
                                                        Total al pagar $ {{monto|number_format(2,".",",")}}
                                                    </th>
                                                {% else %}
                                                    <th colspan="6">Sin saldo pendiente</th>
                                                {% endif %}
                                            </tr>
                                        </tfoot>
                                        </tbody>
                                    </table>
                                </div>
                            </div>  
                        </div>
                    </div>          
                </div>
                <div class="row">
                    <div class="col-md-6 portlets ui-sortable">
                        <div class="widget">
                            <!-- Widget title -->
                            <div class="widget-head">
                                <div class="pull-left">Calendar</div>
                                <div class="widget-icons pull-right">
                                    <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                                    <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                                </div>  
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content">
                                <!-- Widget content -->
                                <div class="padd contenido-formulario">
                                    <!-- Below line produces calendar. I am using FullCalendar plugin. -->
                                    <div id="calendar" class="fc"><table class="fc-header" style="width:100%"><tbody><tr><td class="fc-header-left"><span class="fc-button fc-button-prev fc-state-default fc-corner-left fc-corner-right"><span class="fc-button-inner"><span class="fc-button-content">&nbsp;◄&nbsp;</span><span class="fc-button-effect"><span></span></span></span></span></td><td class="fc-header-center"><span class="fc-header-title"><h2>November 2014</h2></span></td><td class="fc-header-right"><span class="fc-button fc-button-month fc-state-default fc-corner-left fc-state-active"><span class="fc-button-inner"><span class="fc-button-content">month</span><span class="fc-button-effect"><span></span></span></span></span><span class="fc-button fc-button-agendaWeek fc-state-default"><span class="fc-button-inner"><span class="fc-button-content">week</span><span class="fc-button-effect"><span></span></span></span></span><span class="fc-button fc-button-agendaDay fc-state-default"><span class="fc-button-inner"><span class="fc-button-content">day</span><span class="fc-button-effect"><span></span></span></span></span><span class="fc-button fc-button-next fc-state-default fc-corner-right"><span class="fc-button-inner"><span class="fc-button-content">&nbsp;►&nbsp;</span><span class="fc-button-effect"><span></span></span></span></span></td></tr></tbody></table><div class="fc-content" style="position: relative; min-height: 1px;"><div class="fc-view fc-view-month fc-grid" style="position: relative;" unselectable="on"><table class="fc-border-separate" style="width:100%" cellspacing="0"><thead><tr class="fc-first fc-last"><th class="fc-sun fc-widget-header fc-first" style="width: 65px;">Sun</th><th class="fc-mon fc-widget-header" style="width: 65px;">Mon</th><th class="fc-tue fc-widget-header" style="width: 65px;">Tue</th><th class="fc-wed fc-widget-header" style="width: 65px;">Wed</th><th class="fc-thu fc-widget-header" style="width: 65px;">Thu</th><th class="fc-fri fc-widget-header" style="width: 65px;">Fri</th><th class="fc-sat fc-widget-header fc-last">Sat</th></tr></thead><tbody><tr class="fc-week0 fc-first"><td class="fc-sun fc-widget-content fc-day0 fc-first fc-other-month"><div style="min-height: 49px;"><div class="fc-day-number">26</div><div class="fc-day-content"><div style="position: relative; height: 72px;">&nbsp;</div></div></div></td><td class="fc-mon fc-widget-content fc-day1 fc-other-month"><div><div class="fc-day-number">27</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-tue fc-widget-content fc-day2 fc-other-month"><div><div class="fc-day-number">28</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-wed fc-widget-content fc-day3 fc-other-month"><div><div class="fc-day-number">29</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-thu fc-widget-content fc-day4 fc-other-month"><div><div class="fc-day-number">30</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-fri fc-widget-content fc-day5 fc-other-month"><div><div class="fc-day-number">31</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-sat fc-widget-content fc-day6 fc-last"><div><div class="fc-day-number">1</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td></tr><tr class="fc-week1"><td class="fc-sun fc-widget-content fc-day7 fc-first"><div style="min-height: 48px;"><div class="fc-day-number">2</div><div class="fc-day-content"><div style="position: relative; height: 72px;">&nbsp;</div></div></div></td><td class="fc-mon fc-widget-content fc-day8"><div><div class="fc-day-number">3</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-tue fc-widget-content fc-day9"><div><div class="fc-day-number">4</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-wed fc-widget-content fc-day10 fc-state-highlight fc-today"><div><div class="fc-day-number">5</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-thu fc-widget-content fc-day11"><div><div class="fc-day-number">6</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-fri fc-widget-content fc-day12"><div><div class="fc-day-number">7</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-sat fc-widget-content fc-day13 fc-last"><div><div class="fc-day-number">8</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td></tr><tr class="fc-week2"><td class="fc-sun fc-widget-content fc-day14 fc-first"><div style="min-height: 48px;"><div class="fc-day-number">9</div><div class="fc-day-content"><div style="position: relative; height: 47px;">&nbsp;</div></div></div></td><td class="fc-mon fc-widget-content fc-day15"><div><div class="fc-day-number">10</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-tue fc-widget-content fc-day16"><div><div class="fc-day-number">11</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-wed fc-widget-content fc-day17"><div><div class="fc-day-number">12</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-thu fc-widget-content fc-day18"><div><div class="fc-day-number">13</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-fri fc-widget-content fc-day19"><div><div class="fc-day-number">14</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-sat fc-widget-content fc-day20 fc-last"><div><div class="fc-day-number">15</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td></tr><tr class="fc-week3"><td class="fc-sun fc-widget-content fc-day21 fc-first"><div style="min-height: 48px;"><div class="fc-day-number">16</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-mon fc-widget-content fc-day22"><div><div class="fc-day-number">17</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-tue fc-widget-content fc-day23"><div><div class="fc-day-number">18</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-wed fc-widget-content fc-day24"><div><div class="fc-day-number">19</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-thu fc-widget-content fc-day25"><div><div class="fc-day-number">20</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-fri fc-widget-content fc-day26"><div><div class="fc-day-number">21</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-sat fc-widget-content fc-day27 fc-last"><div><div class="fc-day-number">22</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td></tr><tr class="fc-week4"><td class="fc-sun fc-widget-content fc-day28 fc-first"><div style="min-height: 48px;"><div class="fc-day-number">23</div><div class="fc-day-content"><div style="position: relative; height: 25px;">&nbsp;</div></div></div></td><td class="fc-mon fc-widget-content fc-day29"><div><div class="fc-day-number">24</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-tue fc-widget-content fc-day30"><div><div class="fc-day-number">25</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-wed fc-widget-content fc-day31"><div><div class="fc-day-number">26</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-thu fc-widget-content fc-day32"><div><div class="fc-day-number">27</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-fri fc-widget-content fc-day33"><div><div class="fc-day-number">28</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-sat fc-widget-content fc-day34 fc-last"><div><div class="fc-day-number">29</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td></tr><tr class="fc-week5 fc-last"><td class="fc-sun fc-widget-content fc-day35 fc-first"><div style="min-height: 52px;"><div class="fc-day-number">30</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-mon fc-widget-content fc-day36 fc-other-month"><div><div class="fc-day-number">1</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-tue fc-widget-content fc-day37 fc-other-month"><div><div class="fc-day-number">2</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-wed fc-widget-content fc-day38 fc-other-month"><div><div class="fc-day-number">3</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-thu fc-widget-content fc-day39 fc-other-month"><div><div class="fc-day-number">4</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-fri fc-widget-content fc-day40 fc-other-month"><div><div class="fc-day-number">5</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-sat fc-widget-content fc-day41 fc-last fc-other-month"><div><div class="fc-day-number">6</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td></tr></tbody></table><div style="position:absolute;z-index:8;top:0;left:0"><div class="fc-event fc-event-skin fc-event-hori fc-event-draggable fc-corner-left ui-draggable" style="position: absolute; z-index: 8; left: 328px; width: 126px; top: 62px;"><div class="fc-event-inner fc-event-skin"><span class="fc-event-title">Long Event</span></div></div><div class="fc-event fc-event-skin fc-event-hori fc-event-draggable fc-corner-left fc-corner-right ui-draggable" style="position: absolute; z-index: 8; left: 393px; width: 57px; top: 87px;" unselectable="on"><div class="fc-event-inner fc-event-skin"><span class="fc-event-title">All Day Event</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></div><div class="fc-event fc-event-skin fc-event-hori fc-event-draggable fc-corner-right" style="position: absolute; z-index: 8; left: 0px; width: 127px; top: 160px;"><div class="fc-event-inner fc-event-skin"><span class="fc-event-title">Long Event</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></div><div class="fc-event fc-event-skin fc-event-hori fc-event-draggable fc-corner-left fc-corner-right" style="position: absolute; z-index: 8; left: 198px; width: 58px; top: 160px;"><div class="fc-event-inner fc-event-skin"><span class="fc-event-time">10:30a</span><span class="fc-event-title">Meeting</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></div><div class="fc-event fc-event-skin fc-event-hori fc-event-draggable fc-corner-left fc-corner-right ui-draggable" style="position: absolute; z-index: 8; left: 263px; width: 58px; top: 160px;" unselectable="on"><div class="fc-event-inner fc-event-skin"><span class="fc-event-time">7p</span><span class="fc-event-title">Birthday Party</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></div><div class="fc-event fc-event-skin fc-event-hori fc-event-draggable fc-corner-left fc-corner-right" style="position: absolute; z-index: 8; left: 198px; width: 58px; top: 185px;"><div class="fc-event-inner fc-event-skin"><span class="fc-event-time">12p</span><span class="fc-event-title">Lunch</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></div><div class="fc-event fc-event-skin fc-event-hori fc-event-draggable fc-corner-left fc-corner-right" style="position: absolute; z-index: 8; left: 3px; width: 58px; top: 185px;"><div class="fc-event-inner fc-event-skin"><span class="fc-event-time">4p</span><span class="fc-event-title">Repeating Event</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></div><div class="fc-event fc-event-skin fc-event-hori fc-event-draggable fc-corner-left fc-corner-right" style="position: absolute; z-index: 8; left: 3px; width: 58px; top: 258px;"><div class="fc-event-inner fc-event-skin"><span class="fc-event-time">4p</span><span class="fc-event-title">Repeating Event</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></div><a href="http://google.com/" class="fc-event fc-event-skin fc-event-hori fc-event-draggable fc-corner-left fc-corner-right" style="position: absolute; z-index: 8; left: 328px; width: 122px; top: 380px;"><div class="fc-event-inner fc-event-skin"><span class="fc-event-title">Click for Google</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></a></div></div></div></div>
                                </div>
                            </div>
                        </div> 

                    </div>
                    <div class="col-md-6 portlets ui-sortable">
                        <div class="widget">    
                            <div style="background-color: #1392e9; color: white; text-align: center;font-size: 20px; padding: 10px;">    
                                Avisos y notificaciones    
                            </div>
                            <div class="widget-content">
                                <div class="padd">
                                    {{render(controller('FrontendBundle:Default:avisosIndex'))}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Mainbar ends -->        
    <div class="clearfix"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{asset('js/jquery-ui-1.9.2.custom.min.js')}}"></script> <!-- jQuery UI -->
    <script src="{{asset('js/fullcalendar.min.js')}}"></script> <!-- Full Google Calendar - Calendar -->
    <script src="{{asset('js/jquery.rateit.min.js')}}"></script> <!-- RateIt - Star rating -->
    <script src="{{asset('js/jquery.prettyPhoto.js')}}"></script> <!-- prettyPhoto -->

    <!-- jQuery Flot -->
    <script src="{{asset('js/excanvas.min.js')}}"></script>
    <script src="{{asset('js/jquery.flot.js')}}"></script>
    <script src="{{asset('js/jquery.flot.resize.js')}}"></script>
    <script src="{{asset('js/jquery.flot.pie.js')}}"></script>
    <script src="{{asset('js/jquery.flot.stack.js')}}"></script>

    <!-- jQuery Notification - Noty -->
    <script src="{{asset('js/jquery.noty.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/themes/default.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/layouts/bottom.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/layouts/topRight.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/layouts/top.js')}}"></script> <!-- jQuery Notify -->
    <!-- jQuery Notification ends -->

    <script src="{{asset('js/datatables/js/jquery.dataTables.js')}}"></script>

    <script src="{{asset('js/sparklines.js')}}"></script> <!-- Sparklines -->
    <script src="{{asset('js/jquery.cleditor.min.js')}}"></script> <!-- CLEditor -->
    <script src="{{asset('js/bootstrap-datetimepicker.min.js')}}"></script> <!-- Date picker -->
    <script src="{{asset('js/jquery.uniform.min.html')}}"></script> <!-- jQuery Uniform -->
    <script src="{{asset('js/jquery.slimscroll.min.js')}}"></script> <!-- jQuery SlimScroll -->
    <script src="{{asset('js/bootstrap-switch.min.js')}}"></script> <!-- Bootstrap Toggle -->
    <script src="{{asset('js/filter.js')}}"></script> <!-- Filter for support page -->
    <script src="{{asset('js/custom.js')}}"></script> <!-- Custom codes -->
    <script src="{{asset('js/sfrichpolis.js')}}"></script>
{% endblock %}