{% extends 'FrontendBundle::layout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/fancybox/jquery.fancybox.css')}}"/>
{% endblock %} 

{% block contenido %}
    <section class="padding columna-2">
        <article class="publicacion">
            <section class="galeria">
                {% for publicacion in carrusel %}
                    <article class="item">
                        <header>
                            <h2 class="titulo">
                                {{publicacion.titulo}}
                            </h2>
                        </header>
                        <div class="contenido">
                            {% if publicacion.imagen | length > 0 %}
                                <figure>
                                    <img src="{{ publicacion.webPath | imagine_filter('imagen_grande') }}" alt="{{publicacion.titulo}}"/>
                                </figure>
                            {% else %}    
                                <figure>
                                    <img src="{{ publicacion.galerias[0].webPath | imagine_filter('imagen_grande') }}" alt="{{publicacion.galerias[0].titulo}}"/>
                                </figure>
                            {% endif %}
                            {{ publicacion.descripcion | striptags | truncate(250,true,'...') | raw   }}
                            <p class="cargador">
                                <button data-slug="{{publicacion.slug}}" class="ver-nota">Ver nota</button>
                            </p>
                        </div>        
                    </article>
                {% endfor %}
            </section>
        </article>
        <article class="list-noticias">
            <header>
                <h2 class="titulo azul">
                    ultimas noticias
                </h2>
            </header>
            <section class="noticias padding-left">
                {% for publicacion in ultimasPublicaciones| slice(0, 4) %}
                    {% include 'FrontendBundle:Default:item_largo.html.twig' with {'noticia': publicacion } %}
                {% endfor %}
            </section>
            <section class="noticias padding-left ultimas-noticias hidden">
                {% for publicacion in ultimasPublicaciones| slice(4, 6) %}
                    {% include 'FrontendBundle:Default:item_largo.html.twig' with {'noticia': publicacion } %}
                {% endfor %}
            </section>
            {% if ultimasPublicaciones | length > 4 %}
            <p class="cargador azul">
                <a href="#" class="lanzador-cargar-notas" data-clase="ultimas-noticias">cargar mas notas <span class="cargar-mas-notas azul">+</span></a>
            </p>
            {% endif %}
        </article>
        <div class="tuespacio">
            <div class="contenedor-tuespacio">
                <a href="{{path('frontend_tu_espacio',{'slug':'ultimo'})}}">
                <span class="titulo">TU ESPACIO</span>
                <span class="icono">
                    <img src="{{asset('images/communities.png')}}" />
                </span>
                </a>
            </div>
        </div>   
        <article class="list-noticias heraldo-tv list-videos">
            <header class="relative">
                <h2 class="titulo">
                    videos
                </h2>
                <!--select name="cbCategoriasVideos" id="cbCategoriasVideos" class="categorias-videos" onchange="javascript:categoriasVideos()">
                    {% for categoria in categorias if categoria.tipoCategoria is constant('Richpolis\\PublicacionesBundle\\Entity\\CategoriaPublicacion::TIPO_CATEGORIA_HERALDO_TV') %}
                        <option value="" disabled selected style="display:none;">Selecciona opcion</option>
						{% for publicacion in categoria.publicaciones %}
                            <option value="{{publicacion.slug}}">{{publicacion.titulo}}</option>
                        {% endfor %}
                    {% endfor %}
                </select-->
            </header>
            <div class="controles-videos">
                <span class="control-video anterior" onclick="javascript:videosPrev();">anterior</span>
                <span class="control-video siguiente" onclick="javascript:videosNext();">siguiente</span>	
            </div>
            <section class="videos padding-left">
                {% for categoria in categorias if categoria.tipoCategoria is constant('Richpolis\\PublicacionesBundle\\Entity\\CategoriaPublicacion::TIPO_CATEGORIA_HERALDO_TV') %}
                    {% if loop.first %}
                        {% for publicacion in categoria.publicaciones %}
                            {% for galeria in publicacion.galerias %}
                                <article class="item-noticia item-video">
                                    <figure class="thumbnail-mediana">
										<a href="{{galeria.archivo}}" class="fancybox-media iframe">
											<img src="{{ galeria.thumbnailWebPath }}" width="191" height="121" alt="">
										</a>
                                    </figure>
                                    {{ galeria.titulo  }}
                                    <div class="redes-sociales">
                                        <span class="share"></span>
                                        <span class="twitter"></span>
                                        <span class="facebook"></span>
                                    </div>
                                </article>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </section>
        </article>
        <article class="list-noticias">
            <header>
                <h2 class="titulo llamados azul">
                    portada
                </h2>
            </header>
            <section class="noticias">
                {% set llamados = 0 %}
                {% for categoria in categorias if categoria.slug == 'llamados'  %}
                    {% for publicacion in categoria.publicaciones|slice(0, 3) %}
                        {% include 'FrontendBundle:Default:item_chico.html.twig' with {'noticia': publicacion } %}
                        {% set llamados = llamados + 1 %}
                    {% endfor %}
                {% endfor %}
            </section>
            <section class="noticias noticias-llamados hidden">
                {% for categoria in categorias if categoria.slug == 'llamados'  %}
                    {% for publicacion in categoria.publicaciones|slice(3, 3) %}
                        {% include 'FrontendBundle:Default:item_chico.html.twig' with {'noticia': publicacion } %}
                        {% set llamados = llamados + 1 %}
                    {% endfor %}
                {% endfor %}
                <p class="cargador azul">
                    <a href="{{path('frontend_categoria',{'slug':'llamados'})}}">cargar mas notas <span class="cargar-mas-notas azul">+</span></a>
                </p>
            </section>
            {% if llamados > 3 %}    
            <p class="cargador azul">
                <a href="#" class="lanzador-cargar-notas" data-clase="noticias-llamados">cargar mas notas <span class="cargar-mas-notas azul">+</span></a>
            </p>
            {% endif %}
        </article>    
        <article class="list-noticias">
            <header>
                <h2 class="titulo nacional azul">
                    nacional
                </h2>
            </header>
            <section class="noticias">
                {% set nacional = 0 %}
                {% for categoria in categorias if categoria.slug == 'nacional'  %}
                    {% for publicacion in categoria.publicaciones|slice(0, 3) %}
                        {% include 'FrontendBundle:Default:item_chico.html.twig' with {'noticia': publicacion } %}
                        {% set nacional = nacional + 1 %}
                    {% endfor %}
                {% endfor %}
            </section>
            <section class="noticias noticias-nacional hidden">
                {% for categoria in categorias if categoria.slug == 'nacional'  %}
                    {% for publicacion in categoria.publicaciones|slice(3, 3) %}
                        {% include 'FrontendBundle:Default:item_chico.html.twig' with {'noticia': publicacion } %}
                        {% set nacional = nacional + 1 %}
                    {% endfor %}
                {% endfor %}
                <p class="cargador azul">
                    <a href="{{path('frontend_categoria',{'slug':'nacional'})}}">cargar mas notas <span class="cargar-mas-notas azul">+</span></a>
                </p>
            </section>
            {% if nacional > 3 %}    
            <p class="cargador azul">
                <a href="#" class="lanzador-cargar-notas" data-clase="noticias-nacional">cargar mas notas <span class="cargar-mas-notas azul">+</span></a>
            </p>
            {% endif %}
        </article>
        <article class="list-noticias mundo">
            <header>
                <h2 class="titulo">
                    mundo
                </h2>
            </header>
            <section class="noticias">
                {% set mundo = 0 %}
                {% for categoria in categorias if categoria.slug == 'mundo'  %}
                    {% for publicacion in categoria.publicaciones|slice(0, 3) %}
                        {% include 'FrontendBundle:Default:item_chico.html.twig' with {'noticia': publicacion } %}
                        {% set mundo = mundo + 1 %}
                    {% endfor %}
                {% endfor %}
            </section>
            <section class="noticias noticias-mundo hidden">
                {% for categoria in categorias if categoria.slug == 'mundo'  %}
                    {% for publicacion in categoria.publicaciones|slice(3, 3) %}
                        {% include 'FrontendBundle:Default:item_chico.html.twig' with {'noticia': publicacion } %}
                        {% set mundo = mundo + 1  %}
                    {% endfor %}
                {% endfor %}
                <p class="cargador">
                    <a href="{{path('frontend_categoria',{'slug':'mundo'})}}">cargar mas notas <span class="cargar-mas-notas rojo">+</span></a>
                </p>
            </section>
            {% if mundo > 3 %}    
            <p class="cargador">
                <a href="#"  class="lanzador-cargar-notas" data-clase="noticias-mundo">cargar mas notas <span class="cargar-mas-notas rojo">+</span></a>
            </p>
            {% endif %}
        </article>
        <!--article class="list-noticias trofeo">
            <header>
                <h2 class="titulo">
                    trofeo
                </h2>
            </header>
            <section class="noticias">
                {% set trofeo = 0 %}
                {% for categoria in categorias if categoria.slug == 'trofeo'  %}
                    {% for publicacion in categoria.publicaciones|slice(0, 3) %}
                        {% include 'FrontendBundle:Default:item_chico.html.twig' with {'noticia': publicacion } %}
                        {% set trofeo = trofeo + 1 %}
                    {% endfor %}
                {% endfor %}
            </section>
            <section class="noticias noticias-trofeo hidden">
                {% for categoria in categorias if categoria.slug == 'trofeo'  %}
                    {% for publicacion in categoria.publicaciones|slice(3, 3) %}
                        {% include 'FrontendBundle:Default:item_chico.html.twig' with {'noticia': publicacion } %}
                        {% set trofeo = trofeo + 1 %}
                    {% endfor %}
                {% endfor %}
                <p class="cargador">
                    <a href="{{path('frontend_categoria',{'slug':'trofeo'})}}">cargar mas notas <span class="cargar-mas-notas gris">+</span></a>
                </p>
            </section>
            {% if trofeo > 3 %}    
            <p class="cargador">
                <a href="#"  class="lanzador-cargar-notas" data-clase="noticias-trofeo">cargar mas notas <span class="cargar-mas-notas gris">+</span></a>
            </p>
            {% endif %}
        </article-->
        <!--article class="list-noticias arte-y-gente">
            <header>
                <h2 class="titulo">
                    arte y gente
                </h2>
            </header>
            <section class="noticias">
                {% set arteygente = 0 %}
                {% for categoria in categorias if categoria.slug == 'arte-y-gente'  %}
                    {% for publicacion in categoria.publicaciones|slice(0, 3) %}
                        {% include 'FrontendBundle:Default:item_chico.html.twig' with {'noticia': publicacion } %}
                        {% set arteygente = arteygente + 1 %}
                    {% endfor %}
                {% endfor %}
            </section>
            <section class="noticias noticias-arte-y-gente hidden">
                {% for categoria in categorias if categoria.slug == 'arte-y-gente'  %}
                    {% for publicacion in categoria.publicaciones|slice(3, 3) %}
                        {% include 'FrontendBundle:Default:item_chico.html.twig' with {'noticia': publicacion } %}
                        {% set arteygente = arteygente + 1 %}
                    {% endfor %}
                {% endfor %}
                <p class="cargador">
                    <a href="{{path('frontend_categoria',{'slug':'arte-y-gente'})}}">cargar mas notas <span class="cargar-mas-notas azul">+</span></a>
                </p>
            </section>
            {% if arteygente > 3 %}    
            <p class="cargador">
                <a href="#" class="lanzador-cargar-notas"  data-clase="noticias-arte-y-gente">cargar mas notas <span class="cargar-mas-notas azul">+</span></a>
            </p>
            {% endif %}
        </article-->
        <!--article class="list-noticias minucipios">
            <header>
                <h2 class="titulo">
                    municipios
                </h2>
            </header>
            <section class="noticias">
                {% set municipios = 0 %}
                {% for categoria in categorias if categoria.slug == 'municipios'  %}
                    {% for publicacion in categoria.publicaciones|slice(0, 3) %}
                        {% include 'FrontendBundle:Default:item_chico.html.twig' with {'noticia': publicacion } %}
                        {% set municipios = municipios + 1 %}
                    {% endfor %}
                {% endfor %}
            </section>
            <section class="noticias noticias-municipios hidden">
                {% for categoria in categorias if categoria.slug == 'municipios'  %}
                    {% for publicacion in categoria.publicaciones|slice(3, 3) %}
                        {% include 'FrontendBundle:Default:item_chico.html.twig' with {'noticia': publicacion } %}
                        {% set municipios = municipios + 1 %}
                    {% endfor %}
                {% endfor %}
                <p class="cargador">
                    <a href="{{path('frontend_categoria',{'slug':'municipios'})}}">cargar mas notas <span class="cargar-mas-notas rojo">+</span></a>
                </p>
            </section>
            {% if municipios > 3 %}
            <p class="cargador">
                <a href="#" class="lanzador-cargar-notas"  data-clase="noticias-municipios">cargar mas notas <span class="cargar-mas-notas rojo">+</span></a>
            </p>
            {% endif %}
        </article-->
    </section>
    {# include 'FrontendBundle:Default:aside.html.twig' #}        
    {{render(controller('FrontendBundle:Default:aside'))}}
    

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{asset('js/fancybox/jquery.fancybox.js')}}"></script>
<script src="{{asset('js/fancybox/jquery.fancybox-media.js')}}"></script>
<script>
var sliderVideos;
    $(document).ready(function() {
        $('.galeria').bxSlider({
              mode: 'fade',
              autoHover:true,
              auto: true,
              pause: 7000,
        });
		
        sliderVideos = $('.videos').bxSlider({
            auto: false,
            minSlides: 3,
            maxSlides: 3,
            slideWidth: 191,
            slideMargin: 10,
            pager: false,
            controls: false,
        });
		
        $(".bx-prev").addClass('ico_carrusel_inicio_izq');
        $(".bx-next").addClass('ico_carrusel_inicio_der');

          $(".control.izquierdo").on("click",function(){
            if(publicacionesPdf>1){
                publicacionesPdf--;
                valorGaleriaPdf = (((publicacionesPdf)*300)-300);
                $(".galeria-pdf").animate({left: '-'+valorGaleriaPdf+'px'},1000);
            }
          });

          $(".control.derecho").on("click",function(){
            if(publicacionesPdf<publicacionesPdfMax){
                publicacionesPdf++;
                valorGaleriaPdf = (((publicacionesPdf)*300)-300);
                $(".galeria-pdf").animate({left: '-'+valorGaleriaPdf+'px'},1000);
            }
          });

	
        $("a.fancybox").fancybox();
          
        $("a.fancybox-media").fancybox({
            helpers : {
                media: true
            },
            youtube : {
               autoplay: 0
            }
        });
        
        $("a.lanzador-cargar-notas").on("click",function(e){
           e.preventDefault();
           e.stopPropagation();
           debugger;
           var clase = $(this).data('clase');
           $(this).parent().remove();
           //$("."+clase).removeClass('hidden');
           $("."+clase).fadeIn('fast');
        });
    });

function videosPrev(){
	sliderVideos.goToPrevSlide();
}

function videosNext(){
	sliderVideos.goToNextSlide();
}

</script>
{% endblock %}