{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Uniform -->
    <link rel="stylesheet" href="{{asset('css/uniform.default.html')}}"> 
    <!-- Main stylesheet -->
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    <!-- Widgets stylesheet -->
    <link rel="stylesheet" href="{{asset('css/widgets.css')}}">   
    <!-- Gritter Notifications stylesheet -->
    <link rel="stylesheet" href="{{asset('css/jquery.gritter.css')}}"> 
    <!-- Admin stylesheet -->
    <link rel="stylesheet" href="{{asset('css/admin.css')}}">
    <!-- Admin stylesheet -->
    <link rel="stylesheet" href="{{asset('css/main.css')}}">
{% endblock %}

{% block mainbar %}
    <!-- Main bar -->
    <div class="mainbar">
        <!-- Matter -->
        <div class="matter">
            <div class="container">
                <div class="row">
                    {# foros #}
                    {{render(controller('FrontendBundle:Default:forosIndex'))}}

                    {# cargos y pagos #}
                    <div class="col-md-6">
                        <!-- Widget -->
                        <div class="widget">
                            <div style="background-color: #DC322F; color: white; text-align: center;font-size: 20px; padding: 10px;">    
                                Estado de cuenta    
                            </div>
                            <div class="widget-content">
                                <!-- Widget content -->
                                <div class="padd">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="6">Cargos pendientes de pago</th>
                                            </tr>
                                            <tr>
                                                <th>$</th>
                                                <th>Fecha - Cargo</th>
                                                <th>Monto</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% set monto = 0 %}
                                            {% for entity in cargos %}
                                                {% if entity.tipoCargo != constant('Richpolis\\FrontendBundle\\Entity\\EstadoCuenta::TIPO_CARGO_RESERVACION') and entity.tipoCargo != constant('Richpolis\\FrontendBundle\\Entity\\EstadoCuenta::TIPO_CARGO_PAGO_RESERVACION') %}
                                                <tr>
                                                    <td>
                                                        {% if entity.monto > 0 %}
                                                        <input type="checkbox" data-cargo="{{entity.monto}}" id="cargo-{{entity.id}}" name="cargo" class="cargoPagar" value="{{entity.id}}" checked>
                                                        {% else %}
                                                        <input type="hidden" data-cargo="{{entity.monto}}" id="cargo-{{entity.id}}" name="cargo" class="cargoPagado" value="{{entity.id}}">    
                                                        {% endif %}    
                                                    </td>
                                                    <td>
                                                        <div class="tipo-cargo">{{ entity.createdAt|date('d-m-Y') }} - {{ entity.stringTipoCargo }}</div>
                                                        <div class="descripcion-cargo">{{ entity.cargo }}</div>
                                                    </td>
                                                    <td>$ {{ entity.monto | number_format(2,".",",") }}</td>
                                                </tr>
                                                {% set monto = monto + entity.monto %}
                                                <!-- {{monto}} -->
                                                {% endif %}
                                            {% endfor %}
                                        <tfoot>
                                            <tr>
                                                <th colspan="6">
                                                    {% if monto > 0 %}
                                                        <button class="btn btn-success" id="botonPagoCargos">Realizar pago $ {{monto|number_format(2,".",",")}}</button>
                                                    {% else %}
                                                        Sin saldo pendiente
                                                    {% endif %}
                                                    <a href="{{path('estadodecuentas_recibo',{'_format':'pdf'})}}" class="btn btn-info pull-right" target="_blank">Recibo</a>
                                                </th>
                                            </tr>
                                        </tfoot>
                                        </tbody>
                                    </table>
                                </div>
                            </div>  
                        </div>
                    </div>
                                                
                    {# reservaciones #}
                    {{render(controller('FrontendBundle:Default:reservacionesIndex'))}}
                    
                    {# avisos y notificaciones #}
                    <div class="col-md-6 portlets ui-sortable">
                        <div class="widget">    
                            <div style="background-color: #1392e9; color: white; text-align: center;font-size: 20px; padding: 10px;">    
                                Avisos y notificaciones    
                            </div>
                            <div class="widget-content">
                                <div class="padd">
                                    {{render(controller('FrontendBundle:Default:avisosIndex'))}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Mainbar ends -->        
    <div class="clearfix"></div>
    <!-- Modal -->
    <div class="modal fade" id="modalFormulario" tabindex="-1" role="dialog" aria-labelledby="labelFormulario" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="labelFormulario"></h4>
          </div>
          <div class="modal-body" id="modalBodyFormulario">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" onclick="guardar();">Guardar</button>
          </div>
        </div>
      </div>
    </div> 
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{asset('js/jquery-ui-1.9.2.custom.min.js')}}"></script> <!-- jQuery UI -->
    
    <!-- jQuery Notification - Noty -->
    <script src="{{asset('js/jquery.noty.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/themes/default.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/layouts/bottom.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/layouts/topRight.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/layouts/top.js')}}"></script> <!-- jQuery Notify -->
    <!-- jQuery Notification ends -->

    <script src="{{asset('js/jquery.uniform.min.html')}}"></script> <!-- jQuery Uniform -->
    <script src="{{asset('js/custom.js')}}"></script> <!-- Custom codes -->
    <script src="{{asset('js/sfrichpolis.js')}}"></script>
    <script src="{{asset('js/jquery.formdata.serialize.js')}}"></script> <!-- Custom codes -->
    <script>
    var objPago = {
        valor: 0,
        string: "",
        ruta: "",
        getData: function(){
            val = this.valor;
            var data = {
                'reservacion': val,
            };
            return data;
        },
        getQueryString: function(){
            return this.string + "="+this.valor; 
        },
        getIdConsulta: function(){
            return "#" + this.string + "-" + this.valor;
        },
    };
    var montoCargo = 0, montoReservacion = 0, $cargos = null, $reservaciones = null,$cargosPagados;
    $(document).on("ready",function(){
       $cargos=$(".cargoPagar");
       $reservaciones = $(".reservacionPagar");
       $cargosPagados = $(".cargoPagado");
       montoCargo =0;
       montoReservacion = 0;
       
       $.each($cargos,function(index,objeto){
          montoCargo += $(objeto).data('cargo'); 
       });
       $.each($cargosPagados,function(index,objeto){
          montoCargo += $(objeto).data('cargo'); 
       });
       
       $.each($reservaciones,function(index,objeto){
          montoReservacion += $(objeto).data('cargo'); 
       });
       
       $cargos.on('click',function(){
           if(this.checked == true){
               montoCargo += $(this).data('cargo');
           }else{
               montoCargo -= $(this).data('cargo');
           }
           showBotonCargoPagar();
       });
       
       $reservaciones.on('click',function(){
           if(this.checked == true){
               montoReservacion += $(this).data('cargo');
           }else{
               montoReservacion -= $(this).data('cargo');
           }
           showBotonReservacionPagar();
       });
       
       $("#botonPagoReservacion").on("click",function(){
           var data = {
               cargos: [],
               reservacion: true,
               cargo: false,
           };
           $.each($reservaciones,function(index,objeto){
            if(objeto.checked == true)
                data.cargos.push(objeto.value); 
            });
            addPagoReservacion(data);
       });
       
       $("#botonPagoCargos").on("click",function(){
           var data = {
               cargos: [],
               reservacion: false,
               cargo: true,
           };
           $.each($cargos,function(index,objeto){
            if(objeto.checked == true)
                data.cargos.push(objeto.value); 
            });
            addPago(data);
       });
       
       showBotonCargoPagar(); 
       showBotonReservacionPagar();
    });
    function addPagoReservacion(data){
        mostrarFormulario("Realizar pago de reservacion");
        objPago.data = data
        objPago.valor = 0;
        objPago.string = "reservacion";
        objPago.ruta  =  '{{path('pagos_realizar_pago_reservacion')}}';
        getFormulario(data);
    }
    function addPago(data){
        mostrarFormulario("Realizar pago");
        objPago.data = data;
        objPago.valor = 0;
        objPago.string = "pago";
        objPago.ruta  =  '{{path('pagos_realizar_pago')}}';
        getFormulario();
    }
    function mostrarFormulario(titulo){
        $("#modalFormulario").modal("show");
        $("#labelFormulario").html(titulo);
        $loader = $("<img>");
        $loader.attr({'src': '{{asset('images/bx_loader.gif')}}','id': 'loader'});
        $loader.css({'maxWidth': '80px'});
        $("#modalBodyFormulario").html($loader);
    }
    
    function guardar(){
        debugger;
        var $form = $("#modalBodyFormulario form");
        var data = $form.serializefiles();
        $.ajax({
            url: $form.attr('action')+"?"+objPago.getQueryString(),
            type: 'POST',
            data: data,
            dataType: 'json',
            cache: false,
            contentType: false,
            processData: false,
        }).done(function(data, textStatus,jqXHR){
            debugger;
            data = JSON.parse(data);
            if(data.respuesta == 'nuevo'){
                $("#modalBodyFormulario").html(data.form);
                $("#modalBodyFormulario form").attr({'action': data.rutaAction});
            }else if(data.respuesta == 'creado'){
                $("#modalFormulario").modal("hide");
                debugger;
                if(objPago.string == "reservacion"){
                    $(objPago.getIdConsulta()).html($(data.html).find('li').html());
                }else{
                    location.href = '{{path('homepage')}}';
                }
            }
        }).fail(function(data){
            alert("Error");
            console.log(data);
        });
    }
    
    function getFormulario(data){
        debugger;
        $.ajax({
            url: objPago.ruta,
            type: 'GET',
            data: data,
            dataType: 'json',
        }).done(function(data, textStatus,jqXHR){
            data = JSON.parse(data);
            if(data.respuesta == 'nuevo'){
                $("#modalBodyFormulario").html(data.form);
                $("#modalBodyFormulario form").attr({'action': data.rutaAction});
            }
        }).fail(function(data){
            alert("Error");
            console.log(data);
        });
    }
    
    function formato_numero(numero, decimales, separador_decimal, separador_miles){ // v2007-08-06
        numero=parseFloat(numero);
        if(isNaN(numero)){
            return "";
        }

        if(decimales!==undefined){
            // Redondeamos
            numero=numero.toFixed(decimales);
        }

        // Convertimos el punto en separador_decimal
        numero=numero.toString().replace(".", separador_decimal!==undefined ? separador_decimal : ",");

        if(separador_miles){
            // Añadimos los separadores de miles
            var miles=new RegExp("(-?[0-9]+)([0-9]{3})");
            while(miles.test(numero)) {
                numero=numero.replace(miles, "$1" + separador_miles + "$2");
            }
        }

        return numero;
    }
    function showBotonCargoPagar(){
        if(montoCargo>0){
            $("#botonPagoCargos").show('fast').text("Saldo por pagar $ "+formato_numero(montoCargo,2,".",","));
        }else{
            $("#botonPagoCargos").hide('fast');
        }
    }
    function showBotonReservacionPagar(){
        if(montoReservacion>0){
            $("#botonPagoReservacion").show('fast').text("Subir comprobante");
        }else{
            $("#botonPagoReservacion").hide('fast');
        }
    }
</script>
{% endblock %}