{% extends '::base.html.twig' %}

{% block title %}H GRUPO EDITORIAL{% endblock %}

{% set urlAbsolutaFoto = 'http://'
                             ~ app.request.server.get('SERVER_NAME')
                             ~ asset('images/heraldologo.png') %}
{% block stylesheets %}
    
	{% block redes_sociales %}
		<meta property="og:url" content="{{url('homepage')}}" />
		<meta property="og:title" content="H Grupo Editorial" />
		<meta property="og:image" content="{{urlAbsolutaFoto}}" />
		<meta property="og:type" content="article" />
		<meta property="og:site_name" content="hgrupoeditorial.com" />
		<!--meta property="fb:admins" content="USER_ID1,USER_ID2"/-->

		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@heraldodetoluca">
		<meta name="twitter:title" content="H Grupo Editorial">
		<meta name="twitter:description" content="H Grupo Editorial, Estado de Toluca, Toluca, Valle de México, Morelos, Querétaro">
		<meta name="twitter:creator" content="@richpolis">
		<meta name="twitter:image:src" content="{{urlAbsolutaFoto}}">
		<meta name="twitter:domain" content="{{url('homepage')}}">
		<meta name="twitter:app:name:iphone" content="">
		<meta name="twitter:app:name:ipad" content="">
		<meta name="twitter:app:name:googleplay" content="">
		<meta name="twitter:app:url:iphone" content="">
		<meta name="twitter:app:url:ipad" content="">
		<meta name="twitter:app:url:googleplay" content="">
		<meta name="twitter:app:id:iphone" content="">
		<meta name="twitter:app:id:ipad" content="">
		<meta name="twitter:app:id:googleplay" content="">
	{% endblock %}

<link rel="stylesheet" href="{{asset('css/portada.css')}}"/>
{% endblock %}

{% block body %}
<div class="container fondo-azul" style="width: 100%;background: #0b59a2;">
        <header class="header">
                <figure id="logo">
                    <img src="{{ asset('images/hgrupoeditoriallogoportada.png') }}" alt="H GRUPO EDITORIAL"/>
                </figure>
        </header>
        <section class="principal">
            <p>Seleccione el portal que desea visitar:</p>
            <nav class="navegador">
                <ul class="menu">
                    <li>
                        <a href="{{path('homepage')}}">Estado de México</a>
                    </li>
                    <li>
                        <a href="{{path('homepage')}}">Toluca</a>
                    </li>
                    <li>
                        <a href="{{path('homepage')}}">Valle de México</a>
                    </li>
                    <li>
                        <a href="{{path('homepage')}}">Morelos</a>
                    </li>
                    <li>
                        <a href="{{path('homepage')}}">Querétaro</a>
                    </li>
                </ul>
            </nav>
       </section>        
</div>
<footer>
        <div class="container">
            <div class="contenidos">
                <figure class="logo">
                    <img src="{{asset('images/logofooter.png')}}" alt="" class="imagen-logo">
                </figure>
                <div class="contenido">
                    {{ render(controller('FrontendBundle:Default:piePagina')) }}
                </div>
                <div class="redes-sociales">
                    <a href="https://twitter.com/HeraldoEdomex/" target="_blank"><span class="twitter ico_twitter"></span></a>
                    <a href="https://www.facebook.com/HeraldoEdomex" target="_blank"><span class="facebook ico_facebook"></span></a>
                    <a href="https://www.youtube.com/user/HGrupoEditorial" target="_blank"><span class="youtube ico_youtube"></span></a>
                    <a href="https://www.flickr.com/photos/77889457@N06/" target="_blank"><span class="flickr ico_flickr"></span></a>
                </div>
            </div>
        </div>    
</footer>    
{% endblock %}
