{% set head_left = constant('Richpolis\\PublicidadBundle\\Entity\\Publicidad::TIPO_PUBLICIDAD_ENCABEZADO_IZQUIERDO') %}
{% set head_right = constant('Richpolis\\PublicidadBundle\\Entity\\Publicidad::TIPO_PUBLICIDAD_ENCABEZADO_DERECHO') %}
<div class="item-publicidad encabezado-izquierda">
    <ul class="galeria-publicidad-head-left">
        {% for publicidad in publicidadArray[head_left] if publicidad.isActive == true  %}
            {% if publicidad.isImagen %}
            <li>
                <a href="{{publicidad.link}}" target="_blank">
                {{ publicidad.archivoView | raw }}
                </a>
            </li>
            {% else %}    
            <li>{{ publicidad.archivoView | raw }}</li>
            {% endif %}
        {% else %}
            <li><img src="http://placehold.it/728x90/ffffff/ffffff" alt=""></li>
        {% endfor %}
    </ul>
</div>
<div class="item-publicidad encabezado-derecha">
    <ul class="galeria-publicidad-head-right">
        {% for publicidad in publicidadArray[head_right] if publicidad.isActive == true  %}
            {% if publicidad.isImagen %}
            <li>
                <a href="{{publicidad.link}}" target="_blank">
                {{ publicidad.archivoView | raw }}
                </a>
            </li>
            {% else %}    
            <li>{{ publicidad.archivoView | raw }}</li>
            {% endif %}
        {% else %}
            <li><img src="http://placehold.it/230x90/ffffff/ffffff" alt=""></li>
        {% endfor %}
    </ul>
</div>