{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <!-- Datatables -->
  <link rel="stylesheet" href="{{asset('js/datatables/css/dataTables.bootstrap.css')}}">
  <!-- Main stylesheet -->
  <link rel="stylesheet" href="{{asset('css/style.css')}}">
  <!-- Widgets stylesheet -->
  <link rel="stylesheet" href="{{asset('css/widgets.css')}}">   
  <!-- Gritter Notifications stylesheet -->
  <link rel="stylesheet" href="{{asset('css/jquery.gritter.css')}}"> 
  <link rel="stylesheet" href="{{asset('css/main.css')}}">   
{% endblock %}

{% block mainbar %}
    <!-- Main bar -->
    <div class="mainbar">
        <div class="matter">
            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <div class="widget">
                            <div class="widget-head">
                                <h2>Estado de cuenta</h2>
                            </div>
                            <div class="widget-content">
                                <div class="padd">
                                    <div class="navegador-fechas">
                                        {% set monthPrevious = month -1 %}
                                        {% set monthNext = month + 1 %}
                                        {% set yearPrevious = year %}
                                        {% set yearNext = year %}

                                        {% if month == 1 %}
                                            {% set monthPrevious = 12 %}
                                            {% set yearPrevious = year - 1 %}
                                        {% elseif month == 12 %}
                                            {% set monthNext = 1 %}
                                            {% set yearNext = year + 1 %}
                                        {% endif %}
                                        <span class="navegador-fechas-control navegador-fechas-atras btn btn-lg" onclick="location.href='{{path('estadodecuentas')}}?month={{monthPrevious}}&year={{yearPrevious}}'"><</span>
                                        <span class="navegador-fechas-mes">{{nombreMes}}</span>
                                        <span class="navegador-fechas-control navegador-fechas-siguiente btn btn-lg" onclick="location.href='{{path('estadodecuentas')}}?month={{monthNext}}&year={{yearNext}}'">></span>
                                    </div>
                                    <table id="datatable" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="6">Cargos pendientes de pago</th>
                                            </tr>
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Cargo</th>
                                                <th>Monto</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% set monto = 0 %}    
                                            {% for entity in entities %}
                                                <tr>
                                                    <td>{{ entity.createdAt|date('d-m-Y') }}</td>
                                                    <td>
                                                        <div class="tipo-cargo">{{ entity.stringTipoCargo }}</div>
                                                        <div class="descripcion-cargo">{{ entity.cargo }}</div>
                                                    </td>
                                                    <td>$ {{ entity.monto | number_format(2,".",",") }}</td>
                                                </tr>
                                                {% set monto = monto + entity.monto %}
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                {% if monto > 0 %}
                                                    <th colspan="6">Total al pagar $ {{monto|number_format(2,".",",")}}
                                                        {% if month == ("now"|date('m')) and year == ("now"|date('Y')) %}
                                                        <button id="realizarPago" onclick="addPago();" data-monto="{{monto}}" class="btn btn-success">Subir comprobante de pago</button>
                                                        {% endif %}
                                                        <a href="{{path('estadodecuentas_recibo',{'_format':'pdf'})}}" class="btn btn-info pull-right" target="_blank">Comprobante</a>
                                                    </th>
                                                {% else %}
                                                    <th colspan="6">
                                                        Sin saldo pendiente
                                                        {% if entities | length > 0 %}
                                                            <a href="{{path('estadodecuentas_recibo',{'_format':'pdf'})}}" class="btn btn-info pull-right" target="_blank">Comprobante</a>
                                                        {% endif %}    
                                                    </th>
                                                {% endif %}
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>  

                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalFormulario" tabindex="-1" role="dialog" aria-labelledby="labelFormulario" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="labelFormulario"></h4>
                </div>
                <div class="modal-body" id="modalBodyFormulario">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="guardar();">Guardar</button>
                </div>
            </div>
        </div>
    </div>  
{% endblock %}

{% block javascripts %}
  {{ parent() }}

<script src="{{asset('js/jquery-ui-1.9.2.custom.min.js')}}"></script> <!-- jQuery UI -->
<!-- jQuery Notification - Noty -->
<script src="{{asset('js/jquery.noty.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/themes/default.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/layouts/bottom.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/layouts/topRight.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/layouts/top.js')}}"></script> <!-- jQuery Notify -->
<!-- jQuery Notification ends -->

<script src="{{asset('js/datatables/js/jquery.dataTables.js')}}"></script>
<script src="{{asset('js/jquery.slimscroll.min.js')}}"></script> <!-- jQuery SlimScroll -->

<script src="{{asset('js/bootbox.min.js')}}"></script> <!-- Filter for support page -->
<script src="{{asset('js/custom.js')}}"></script> <!-- Custom codes -->
<script src="{{asset('js/jquery.formdata.serialize.js')}}"></script> <!-- Custom codes -->

<script>
var editarRegistro = function(url){
        location.href=url;
};

var eliminarRegistro = function(){
  {% if is_granted('ROLE_ADMIN') %}
    bootbox.confirm("Esta seguro de eliminar el registro?", function(result) {
      if(result){
         $("#formEliminar").submit();
      }
    });
  {% else %}
    noty({text: 'No tienes los permisos suficientes para realizar esta accion',layout:'bottom', type:'warning', timeout:2000 });
  {% endif %}      
};
        function addPago(usuario){
            mostrarFormulario("Realizar pago");
            getFormulario();
        }
        
        function mostrarFormulario(titulo){
            $("#modalFormulario").modal("show");
            $("#labelFormulario").html(titulo);
            $loader = $("<img>");
            $loader.attr({'src': '{{asset('images/loader.GIF')}}','id': 'loader'});
            $loader.css({'maxWidth': '80px'});
            $("#modalBodyFormulario").html($loader);
        }
        
        function guardar(){
            var $form = $("#modalBodyFormulario form");
            var data = $form.serializefiles();
            $.ajax({
                url: $form.attr('action'),
                type: 'POST',
                data: data,
                dataType: 'json',
				cache: false,
    			contentType: false,
    			processData: false,
            }).done(function(data, textStatus,jqXHR){
                debugger;
                data = JSON.parse(data);
                if(data.respuesta == 'nuevo'){
                    $("#modalBodyFormulario").html(data.form);
                    $("#modalBodyFormulario form").attr({'action': data.rutaAction});
                }else if(data.respuesta == 'creado'){
                    $("#modalFormulario").modal("hide");
					location.href='{{path('pagos')}}';
                }
            }).fail(function(data){
                console.log(data);
            });
        }
        
        function getFormulario(){
                $.ajax({
                    url: '{{path('pagos_realizar_pago')}}',
                    type: 'GET',
                    dataType: 'json',
                }).done(function(data, textStatus,jqXHR){
                    data = JSON.parse(data);
                    if(data.respuesta == 'nuevo'){
                        $("#modalBodyFormulario").html(data.form);
                        $("#modalBodyFormulario form").attr({'action': data.rutaAction});
                    }
                });
        }
</script>

    
{% endblock %}

