{% extends '::base.html.twig' %}

{% block title %}Administrador{% endblock %}

{% block viewport %} 
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{% endblock %}

{% block stylesheets %}
<!-- Stylesheets -->
<link rel="stylesheet" href="{{asset('css/bootstrap.css')}}">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!--link rel="stylesheet" href="{{asset('css/font-awesome.css')}}"-->
<link rel="stylesheet" href="{{asset('css/style.css')}}">
<link rel="stylesheet" href="{{asset('css/bootstrap-responsive.html')}}">
<link rel="stylesheet" href="{{asset('css/admin.css')}}">
{% endblock %}

{% block body %}

  {% set route = app.request.get('_route') %}

  {% set residenciales = "" %}
  {% set edificios = "" %}
  {% set recursos = "" %}   
  {% set usuarios = "" %}
  {% set configuraciones = "" %}

  {% if route == "residenciales" %}
    {% set residenciales = "class=open" %}
  {% elseif route == "usuarios" %}
    {% set usuarios = "class=open" %}
  {% elseif route == "edificios" %}
    {% set edificios = "class=open" %}
  {% elseif route == "recursos" %}
    {% set recursos = "class=open" %}
  {% elseif route == "configuraciones" %}
    {% set configuraciones = "class=open" %}       
  {% endif %}
      
<header>
    <div class="navbar navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <!-- Menu button for smallar screens -->
            <div class="navbar-header">
                <button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span>Menu</span>
                </button>
                <a href="#" class="pull-left menubutton hidden-xs">
                    <i class="fa fa-bars"></i>
                </a>
                <!-- Site name for smallar screens -->
                <a href="{{path('homepage')}}" class="navbar-brand">
                    <span class="bold">Dashboard</span>
                </a>
            </div>

            <!-- Navigation starts -->
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">         

                <!-- Links -->
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown pull-right user-data">            
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img src="/apple-touch-icon.png" width="25" height="25"/>
                            {{app.user.username|default('anonimo')}} <b class="caret"></b>
                        </a>
                        <!-- Dropdown menu -->
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <i class="fa fa-key"></i> Salir
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- Main content starts -->
<div class="content">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-dropdown">
            <a href="#">Navegador</a>
        </div>
        <!-- Search form -->
        <form class="navbar-form" role="search" action="#search" method="post">
            <div class="form-group">
                <input id="buscarItem" name="buscarItem" type="text" class="form-control" placeholder="buscar">
                <button class="btn search-button" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
        <!--- Sidebar navigation -->
        <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->
        <ul id="nav">
            <!-- Main menu with font awesome icon -->
            <li>
                <a {{residenciales}}  href="{{path('residenciales')}}">
                    <i class="fa fa-sitemap"></i> <span>Residenciales</span>
                </a>
            </li>
            <li>
                <a {{edificios}}  href="{{path('edificios')}}">
                    <i class="fa fa-sitemap"></i> <span>Edificios</span>
                </a>
            </li>
            <li>
                <a {{recursos}} href="{{path('recursos')}}">
                    <i class="fa fa-user"></i> <span>Recursos</span>
                </a>
            </li>
            <li>
                <a {{usuarios}} href="{{path('usuarios')}}">
                    <i class="fa fa-user"></i> <span>Usuarios</span>
                </a>
            </li>
            <li>
                <a {{configuraciones}} href="{{path('configuraciones')}}">
                    <i class="fa fa-gears"></i> <span>Configuraciones</span>
                </a>
            </li>
        </ul>
    </div>
<!-- Sidebar ends -->
	{% block mainbar %} {% endblock %}
</div>
<!-- Content ends -->
<!-- Footer starts -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <!-- Copyright info -->
                <!--p class="copy">Copyright &copy; 2012 | <a href="#">Your Site</a> </p-->
                <p></p>
            </div>
        </div>
    </div>
</footer> 	
<!-- Footer ends -->
<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span>
<div class="loader"></div>
{% endblock %}

{% block javascripts %}
    <!-- JS -->
    <script src="{{asset('js/jquery.js')}}"></script>
    <script src="{{asset('js/underscore-min.js')}}"></script>
    <script src="{{asset('js/backbone-min.js')}}"></script>
    <script src="{{asset('js/swig.js')}}"></script>
    <script src="{{asset('js/bootstrap.js')}}"></script>
    <script>
        $(document).ready(function(){
            $(".loader").fadeOut();
        });
    </script>
{% endblock %}