{% if statusAprobado is not defined %}
    {% set statusAprobado = constant('Richpolis\\PublicacionesBundle\\Entity\\Publicacion::STATUS_APROBADO') %}
{% endif %}

{% if statusPublicado is not defined %}
    {% set statusPublicado = constant('Richpolis\\PublicacionesBundle\\Entity\\Publicacion::STATUS_PUBLICADO') %}
{% endif %}

<!-- Widget content -->
<div class="widget">
    <div class="widget-content">
        <div class="padd">
            <div data-toggle="buttons" class="btn-group" data-table="tipo-categoria-{{tipoCategoria}}">
                {% if tipoCategoria is constant('Richpolis\\PublicacionesBundle\\Entity\\CategoriaPublicacion::TIPO_CATEGORIA_PUBLICACION') %}
                <button  class="btn btn-default boton-control is-principal-{{tipoCategoria}}" onclick="javascript:controles({{tipoCategoria}},'.is-principal')" data-url="{{path('backend_get_publicaciones',{'isPrincipal':true ,'status':statusPublicado})}}">
                    Es principal
                </a>
                <button class="btn btn-default boton-control in-carrusel-{{tipoCategoria}}" onclick="javascript:controles({{tipoCategoria}},'.in-carrusel')" data-url="{{path('backend_get_publicaciones',{'inCarrusel':true ,'status':statusPublicado})}}">
                    En carrusel
                </button>
                {% endif %}
                <button class="btn btn-default boton-control los-mas-comentados-{{tipoCategoria}}" onclick="javascript:controles({{tipoCategoria}},'.los-mas-comentados')" data-url="{{path('backend_publicacion_losmascomentados',{'tipoCategoria':tipoCategoria})}}">
                    Los mas comentados
                </button>
                <button class="btn btn-default boton-control los-mas-vistos-{{tipoCategoria}}" onclick="javascript:controles({{tipoCategoria}},'.los-mas-vistos')" data-url="{{path('backend_publicacion_losmasvisto',{'tipoCategoria':tipoCategoria})}}">
                    Los mas vistos
                </button>
                <button class="btn btn-default boton-control por-publicar-{{tipoCategoria}}" onclick="javascript:controles({{tipoCategoria}},'.por-publicar')" data-url="{{path('backend_get_publicaciones',{'status':statusAprobado, 'tipoCategoria': tipoCategoria})}}">
                    Por publicar
                </button>
                <button class="btn btn-default boton-control publicados-{{tipoCategoria}}" onclick="javascript:controles({{tipoCategoria}},'.publicados')" data-url="{{path('backend_get_publicaciones',{'status':statusPublicado, 'tipoCategoria': tipoCategoria})}}">
                    Publicados
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Widget ends -->
